<% layout('layouts/indexBoilerplate') -%>

<section class="site_links_wrapper">
	<div class="container">
		<div class="site_links_inner">
			<h2>About Us</h2>
			<div class="single_part">
				<p>Gabazzo offers homeowners and contractors a better way to work together.</p>
				<p>Based in Chicago, Illinois, we’re here to help professionals connect with clients without the hassle
					and confusion of finding one another.</p>
				<p>Whether you are a home owner struggling to find reliable roofers or plumbers or are a business owner
					looking for a fast and reliable way to find clients, Gabazzo is the solution for you.</p>
			</div>
			<div class="single_part">
				<h4>How We’re Different</h4>
				<p>We believe that it’s time to take the confusion out of hiring professionals for everyday tasks.
					Social media sites are overwhelming and using them to find trustworthy help can be a challenge. The
					internet is helpful, but how do you know you’ve found the right person for the job?</p>
				<p>At Gabazzo, we’ve made it easier than ever to connect with the right professionals for your needs.
					Companies sign up with us, offer their services, and all you have to do is click and hire. It’s that
					easy! No more hassle, no more confusion, and no more wondering where to go to find the experts you
					need.</p>
			</div>
			<div class="single_part">
				<h4>For Professionals</h4>
				<p>Are you a contractor or independent professional? Would you like to find more clients for your
					business? If so, Gabazzo is the right fit. Our social network platform connects you to clients in
					need of your services. Companies who sign up to offer their services through Gabazzo receive faster
					leads than through alternative advertising platforms. As a company, we are passionate about helping
					you build your business. Sign up today to grow your business!</p>
			</div>
			<div class="single_part">
				<h4>For Clients</h4>
				<p>If you own property or want to work with a professional on your project, Gabazoo can help you save
					money. Our platform is designed to help you find the best deals for the services you need. Easily
					search and find professionals ready and willing to help you with your next project. You can also
					negotiate on pricing to get an even better deal!</p>
				<p>We’ve also created a rigorous process that allows you to leave reviews for the companies you use.
					That means you can trust the reviews you read on our platform. Explore the services you’re looking
					for and secure the right professional for your job, when you choose Gabazzo.</p>
			</div>
			<div class="single_part">
				<h4>The Gabazzo Mission</h4>
				<p>At Gabazzo, our goal is to expand our business city-to-city throughout the United States. To do so,
					we curate a list of the most trusted services and professionals available. Our passion for helping
					small, medium and large businesses grow, while helping clients gain access to the best
					professionals, is at the heart of all that we do. Along the way, we hope to make real communities
					around the US better places to work and live.</p>
			</div>
			<div class="single_part">
				<h4>Our Values</h4>
				<p>We value the country we live inand want to make sure it continues to grow and become stronger through
					the businesses we support.</p>
			</div>
			<div class="single_part">
				<h4>Our Promise To You</h4>
				<p>When you use Gabazzo to find professionals, we promise you won’t have to sort through scams and shady
					fly-by-night contractors. Instead, you’ll only find affordably priced services thanks to healthy
					competition. You can trust our services and the reviews on our site because we genuinely care about
					your experience with us.</p>
			</div>
			<div class="single_part">
				<h4>Make Us Your Go-To Place for Professional Services</h4>
				<p>We’re committed to supporting small businesses and the clients they serve. Through our platform, you
					enjoy greater service, greater prices, and better results for your projects. Sign up today for
					reliable services and great deals, and register your business with us to gain access to a broader
					audience. Together we can make the country a better place!</p>
			</div>
		</div>
	</div>
</section>