<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<!--Metatags-->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatble" content="ie=edge" />
	<!--Website Title-->
	<title>Gabazzo | Blog</title>
	<link href="../images/favicon.png" rel="icon" />
	<link href="../images/favicon.ico" rel="shortcut icon" />
	<!--FontAwesome -->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../fonts/fonts.css" rel="stylesheet" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/lightcase.css" rel="stylesheet" type="text/css" />
	<link href="../css/style.css" rel="stylesheet" />
	<link href="../css/responsive.css" rel="stylesheet" />
</head>

<body>
	<!-- Blog Pages Header -->
	<div class="blog_page_header">
		<div class="container_gbz">
			<div class="logo_part">
				<a href="blog.html">
					<div class="image">
						<img src="../images/gabazzo_logo_white.png" alt="" />
					</div>
					<div class="texts">
						<h3>Blog Posts</h3>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- Blog Pages Header -->


	<section class="single_blog_wrap">
		<div class="container_gbz">
			<div class="row">
				<div class="col-md-8">
					<div class="blog_left">
						<div class="blog_cover">
							<img src="../images/blog/blog-blogger-blogging.jpg" class="img-fluid" alt="" />
						</div>
						<div class="blog_info">
							<h3>Sed ut perspiciatis unde omnis iste natus error</h3>
							<ul>
								<li>By <a href="javascript:void(0)">Christel Mac</a></li>
								<li><i class="fa fa-clock-o" aria-hidden="true"></i> 12 Apr, 2019</li>
								<li><i class="fa fa-comments-o" aria-hidden="true"></i> 24</li>
							</ul>
						</div>
						<hr />
						<div class="blog_description">
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
								laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
								architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
								voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
								amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
								labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
								nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
								consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
								nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
								pariatur?</p>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
								nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda
								est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut
								rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
								recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
								voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
							</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
								ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
								reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
								sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
								est laborum.</p>
						</div>
						<div class="share_blog">
							<h3>Share:</h3>
							<ul>
								<li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"></a><i class="fa fa-instagram" aria-hidden="true"></i>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-pinterest-p"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<aside class="posts_sidebar">
						<div class="single_sidebar">
							<h3>Latest Posts</h3>
							<a href="javascript:void(0)">
								<div class="single_latest_post">
									<div class="image">
										<img src="../images/blog/access-blog-browsing.jpg" class="img-fluid" alt="" />
									</div>
									<div class="texts">
										<h5>At vero eos et accusamus et iusto odio</h5>
										<h6><i class="fa fa-clock-o" aria-hidden="true"></i> 12 Apr, 2019</h6>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)">
								<div class="single_latest_post">
									<div class="image">
										<img src="../images/blog/accessories-blog-blogging.jpg" class="img-fluid"
											alt="" />
									</div>
									<div class="texts">
										<h5>At vero eos et accusamus et iusto odio</h5>
										<h6><i class="fa fa-clock-o" aria-hidden="true"></i> 12 Apr, 2019</h6>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)">
								<div class="single_latest_post">
									<div class="image">
										<img src="../images/blog/bed-blogging-browsing.jpg" class="img-fluid" alt="" />
									</div>
									<div class="texts">
										<h5>At vero eos et accusamus et iusto odio</h5>
										<h6><i class="fa fa-clock-o" aria-hidden="true"></i> 12 Apr, 2019</h6>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)">
								<div class="single_latest_post">
									<div class="image">
										<img src="../images/blog/background-black-blank.jpg" class="img-fluid" alt="" />
									</div>
									<div class="texts">
										<h5>At vero eos et accusamus et iusto odio</h5>
										<h6><i class="fa fa-clock-o" aria-hidden="true"></i> 12 Apr, 2019</h6>
									</div>
								</div>
							</a>
							<a href="javascriptd:void(0)">
								<div class="single_latest_post">
									<div class="image">
										<img src="../images/blog/access-blog-browsing.jpg" class="img-fluid" alt="" />
									</div>
									<div class="texts">
										<h5>At vero eos et accusamus et iusto odio</h5>
										<h6><i class="fa fa-clock-o" aria-hidden="true"></i> 12 Apr, 2019</h6>
									</div>
								</div>
							</a>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</section>


	<footer class="footer_upper">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="single_part">
						<h3>Number of Companies in Waiting List</h3>
						<ul>
							<li><a href="javascript:void(0)">245</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="single_part">
						<h3>Mobile App Coming Soon</h3>
						<ul class="mobile_apps_part">
							<li><a href="javascript:void(0)"><img src="../images/apple_store.png" class="img-fluid"
										alt="" /></a></li>
							<li><a href="javascript:void(0)"><img src="../images/google_play_store.png"
										class="img-fluid" alt="" /></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="single_part">
						<h3>Service Resources</h3>
						<ul>
							<li><a href="javascript:void(0)">Tips, Guids & Advice</a></li>
						</ul>
						<div class="explore_resources mt-3">
							<a class="btn btn-secondary" href="javascript:void(0)">Explore Resources</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<footer class="footer_top">
		<div class="container">
			<div class="upper_part">
				<div class="row">
					<div class="col-md-6 col-lg-3">
						<div class="single_part">
							<nav class="navbar navbar-expand-md">
								<div class="container">
									<a class="footer_nav_togger1 footer_mobile_links" href="#gbzBuildTogether"
										data-toggle="collapse">
										<div class="heading gabazzo_headings">
											<h3>Gabazzo</h3>
											<h6>Building Communities Together</h6>
										</div>
									</a>
									<div class="collapse navbar-collapse" id="gbzBuildTogether">
										<div class="heading gabazzo_headings heading_for_desktop">
											<h3>Gabazzo</h3>
											<h6>Building Communities Together</h6>
										</div>
										<ul class="">
											<li><a href="../footer-pages/about-us.html">About Us</a></li>
											<li><a href="../footer-pages/blog.html">Blog</a></li>
											<li><a href="../footer-pages/site-map.html">Sitemap</a></li>
											<li><a href="../footer-pages/press-and-news.html">Press & News</a></li>
											<li><a href="../footer-pages/how-it-works-members.html">How It Works</a>
											</li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>

					<div class="col-md-6 col-lg-3">
						<div class="single_part">
							<nav class="navbar navbar-expand-md">
								<div class="container">
									<a class="footer_nav_togger2 footer_mobile_links" href="#customerBar"
										data-toggle="collapse">
										<div class="heading">
											<h3>Customers</h3>
										</div>
									</a>
									<div class="collapse navbar-collapse" id="customerBar">
										<div class="heading heading_for_desktop">
											<h3>Customers</h3>
										</div>
										<ul class="">
											<li><a href="../new-visitors/sign-up-as-a-member.html">Sign Up</a></li>
											<li><a href="javascript:void(0)">One Pager</a></li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="single_part">
							<nav class="navbar navbar-expand-md">
								<div class="container">
									<a class="footer_nav_togger3 footer_mobile_links" href="#serviceCompaniesBar"
										data-toggle="collapse">
										<div class="heading">
											<h3>Service Companies</h3>
										</div>
									</a>
									<div class="collapse navbar-collapse" id="serviceCompaniesBar">
										<div class="heading heading_for_desktop">
											<h3>Service Companies</h3>
										</div>
										<ul class="">
											<li><a href="../new-visitors/company-sign-up-home.html">Sign Up as a
													Company</a></li>
											<li><a href="javascript:void(0)">One Pager</a></li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="single_part">
							<nav class="navbar navbar-expand-md">
								<div class="container">
									<a class="footer_nav_togger4 footer_mobile_links" href="#supportBar"
										data-toggle="collapse">
										<div class="heading">
											<h3>Support</h3>
										</div>
									</a>
									<div class="collapse navbar-collapse" id="supportBar">
										<div class="heading heading_for_desktop">
											<h3>Support</h3>
										</div>
										<ul class="">
											<li><a href="../footer-pages/help-center-buyer.html">Help Center</a></li>
											<li><a href="../footer-pages/safety-buyer.html">Safety</a></li>
											<li><a href="../footer-pages/terms-and-conditions.html">Terms of Use</a>
											</li>
											<li><a href="../footer-pages/privacy-policy.html">Privacy Policy</a></li>
											<li><a href="../footer-pages/cookie-policy.html">Cookie Policy</a></li>
											<li><a href="../footer-pages/contact-us.html">Contact Us</a></li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_part">
				<div class="row">
					<div class="col-md-3">
						<div class="single_part footer_logo_part">
							<div class="footer_logo">
								<a href="../members/index-members.html"><img src="../images/gabazzo_logo_white.png"
										class="img-fluid" alt="" /></a>
							</div>
							<ul>
								<li>Chicago, IL 60623-1325</li>
								<li>support@gabazzo.com</li>
							</ul>
						</div>
					</div>
					<div class="col-md-5">
						<div class="single_part">
							<div class="catch_phrase">
								<p>Based in Chicago, Illinois Gabazzo is a platform created for the community in finding
									trusted and reliable services online. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single_part">
							<h2>Stay Connected:</h2>
							<h5>Subscribe to Gabazzo.com by entering your email below. You'll receive real-time updates
								when we Publish Newsletters, Website/Mobile App Updates, and much more.</h5>
							<form action="">
								<div class="form">
									<div class="form-group mb-1">
										<div class="subscribe_section">
											<input type="email" placeholder="Enter Your Email Here*" required
												class="form-control" />
											<button type="submit" class="btn btn-info">Subscribe</button>
										</div>
									</div>
								</div>
							</form>
							<div class="stay_connected">
								<div class="social_medis_links">
									<ul>
										<li><a href="https://www.facebook.com/gabazzoKAM/" target="_blank"><i
													class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="https://www.instagram.com/gabazzo/" target="_blank"><i
													class="fa fa-instagram" aria-hidden="true"></i></a></li>
										<li><a href="https://twitter.com/gabazzokam" target="_blank"><i
													class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="https://www.youtube.com/channel/UCKBhvVJYd_HhDHJ3KAnrFLQ?view_as=subscriber"
												target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<footer class="main_footer">
		<div class="container">
			<p class="mb-0">Copyright:&copy; 2019 Gabazzo. All Rights Reserved. Patent Pending</p>
		</div>
	</footer>



	<!--jQuery Main Libraty Latest Version-->
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
	<!--Bootstrap v4.1.3 JS File-->
	<script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="../js/lightcase.js"></script>
	<!--Custom JavaScript-->
	<script type="text/javascript">

		// For Photo Gallery Popups
		$(document).ready(function () {
			var lightcase = $(".lightcase");
			if (lightcase.length) {
				$('a[data-rel^=lightcase]').lightcase();
			}
		})
	</script
			
	</body>

</html>