<% layout('layouts/indexBoilerplate') -%>

<section class="site_links_wrapper">
	<div class="container">
		<div class="site_links_inner">
			<h2>COOKIE POLICY</h2>
			<div class="single_part">
				<p>In accordance with the Federal Trade Commission Act (15 U.S. Code ยง41) (DPA), in order to make
					browsing the site as convenient as possible, the Data Controller uses portions of code installed
					inside the browser, which assist him in the provision of the service according to the purposes
					described (the "Cookies"). This site may use the following types of cookies:</p>
			</div>
			<div class="single_part">
				<h4>a. Essential technical cookies</h4>
				<p>These Cookies are necessary for the proper functioning of the Site. They allow browsing of the pages,
					the memorization of access credentials to make quicker entry into the site and to keep active
					preferences and credentials while browsing, as well as to save individual sessions users. Essential
					technical cookies make it possible to provide the service.</p>
			</div>
			<div class="single_part">
				<h4>b. Statistical and performance cookies</h4>
				<p>These Cookies make it possible to know how users use the site, in order to evaluate and improve its
					functioning, and better meet the needs of users. By means of statistical and performance cookies we
					can trace which pages are more and less frequented, the number of visitors, the time spent on the
					site by the average user and the way of arrival of these. Any information collected by these cookies
					is anonymous and not linked to the user's personal data.</p>
			</div>
			<div class="single_part">
				<h4>c.Third-party cookies</h4>
				<p>This type of service allows interaction with additional functions present in the website, or other
					external platforms based functions. The information acquired from this site through the user's
					interactions with these cookies is in each case subject to the settings relating to the management
					and protection of personal data of the individual platform with which the Website interacts.</p>
			</div>
			<div class="single_part">
				<h4>User rights, denial and cancellation of cookies usage</h4>
				<p>At any time, without the consent of third parties, the User can manage preferences related to Cookies
					directly within his web browser and prevent or limit the use of this technology used by second and
					third parties.</p>
				<p>Through the same preferences of the web browser, the user can delete cookies already installed in the
					past, denying them access to sensitive data. In this sense, the user could receive a limited service
					or even not receive the provision of services at all.</p>
				<p>In the case of services provided by third parties, the User may also exercise his right to oppose the
					tracking by informing himself by means of the privacy policy of the third party, expressed in our
					privacy policy. Regardless the set of information provided, the Data Controller informs that the
					User can use Your Online Choices. Through this service, it is possible to manage the tracking
					preferences of most advertising tools.</p>
			</div>
		</div>
	</div>
</section>