<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<!--Metatags-->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatble" content="ie=edge" />
	<!--Website Title-->
	<title>Buyer Help Center</title>
	<link href="../images/favicon.png" rel="icon" />
	<link href="../images/favicon.ico" rel="shortcut icon" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<!-- Google Fonts -->
	<link rel="stylesheet" href="../fonts/fonts.css" />
	<!--Bootstrap v4.1.3 CSS FILE-->
	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<!--Main Stylesheet-->
	<link rel="stylesheet" href="../css/style.css" />
	<link href="../css/night-mode.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../css/responsive.css" />
</head>

<body>
	<!-- Top Menu Bar -->
	<nav class="navbar help_center_nav navbar-expand-md bg-dark navbar-dark">
		<div class="container">
			<a href="/" class="navbar-brand"><img src="../images/gabazzo_logo_white.png" class="img-fluid" alt="" /></a>
			<button class="navbar-toggler" data-target="#responsive-bar" data-toggle="collapse"><span
					class="navbar-toggler-icon"></span></button>
			<div class="collapse help_center navbar-collapse" id="responsive-bar">
				<ul class="navbar-nav text-center ml-auto">
					<li class="nav-item active"><a href="javascript:void(0)" class="nav-link">Buyer Help Center</a></li>
					<li class="nav-item"><a href="/help-center-seller" class="nav-link">Seller Help Center</a></li>
					<li class="night_mode_image"><a href="javascript:void(0)" class="night_mode_icon"></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Top Menu Bar -->



	<section class="help_center_search_section">
		<div class="overlay">
			<div class="container">
				<h1>Buyer Help Center</h1>
				<h6>All of our knowledge right at your fingertips. <br /> Ask Questions. Browse Articles. Find Answers.
				</h6>
				<div class="search_bar">
					<input type="search" placeholder="Search The Help & Education" />
					<i class="fa fa-search" aria-hidden="true"></i>
					<button type="submit">Search</button>
				</div>
			</div>
		</div>
	</section>

	<section class="help_topic_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="single_topic">
						<h5>Getting Started:</h5>
						<ul>
							<li><a href="javascript:void(0)">How Gabazzo Works</a></li>
							<li><a href="javascript:void(0)">Creating an Account</a></li>
							<li><a href="javascript:void(0)">Terms & Definitions</a></li>
							<li><a href="javascript:void(0)">Managing Your Account</a></li>
							<li><a href="javascript:void(0)">Closing Your Account</a></li>
							<li><a href="javascript:void(0)">Adding Billing Information</a></li>
							<li><a href="javascript:void(0)">Tips for your conversations with a seller</a></li>
							<li><a href="javascript:void(0)">Using Buyer Requests Effectively</a></li>
						</ul>
						<div class="show_all_link">
							<a href="javascript:void(0)">Show All</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="single_topic">
						<h5>Communications:</h5>
						<ul>
							<li><a href="javascript:void(0)">Notifications</a></li>
							<li><a href="javascript:void(0)">Your Inbox</a></li>
							<li><a href="javascript:void(0)">Receiving Custom Offers</a></li>
							<li><a href="javascript:void(0)">My Contacts</a></li>
							<li><a href="javascript:void(0)">Managing Saved Services</a></li>
						</ul>
						<div class="show_all_link">
							<a href="javascript:void(0)">Show All</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="single_topic">
						<h5>Placing Orders:</h5>
						<ul>
							<li><a href="javascript:void(0)">Finding a Service</a></li>
							<li><a href="javascript:void(0)">Contact Pros/Companies</a></li>
							<li><a href="javascript:void(0)">Requesting Specific Services</a></li>
							<li><a href="javascript:void(0)">Get a Quote</a></li>
							<li><a href="javascript:void(0)">Placing an Order</a></li>
							<li><a href="javascript:void(0)">Managing your Gabazzo Tasks</a></li>
							<li><a href="javascript:void(0)">Order Status</a></li>
							<li><a href="javascript:void(0)">Resolving Issues with an Order</a></li>
							<li><a href="javascript:void(0)">Accepting Deliveries</a></li>
							<li><a href="javascript:void(0)">Rating Your Order</a></li>
							<li><a href="javascript:void(0)">Providing Feedback</a></li>
							<li><a href="javascript:void(0)">Viewing Invoices</a></li>
						</ul>
						<div class="show_all_link">
							<a href="javascript:void(0)">Show All</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="single_topic">
						<h5>Payments:</h5>
						<ul>
							<li><a href="javascript:void(0)">Paying For Services</a></li>
							<li><a href="javascript:void(0)">Saved Payment Methods</a></li>
							<li><a href="javascript:void(0)">Viewing Your Orders</a></li>
							<li><a href="javascript:void(0)">Goods and Services Tax</a></li>
						</ul>
						<div class="show_all_link">
							<a href="javascript:void(0)">Show All</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="single_topic">
						<h5>Trust & Safety:</h5>
						<ul>
							<li><a href="javascript:void(0)">Securing Your Account</a></li>
							<li><a href="javascript:void(0)">Verifying Your Phone</a></li>
							<li><a href="javascript:void(0)">Resetting Your Password</a></li>
							<li><a href="javascript:void(0)">Tips:</a>
								<ol>
									<li><a href="javascript:void(0)">Gabazzo Online Safety Tips</a></li>
								</ol>
							</li>
						</ul>
						<div class="show_all_link">
							<a href="javascript:void(0)">Show All</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="single_topic">
						<h5>Policies:</h5>
						<ul>
							<li><a href="javascript:void(0)">Data & Privacy on Gabazzo</a></li>
							<li><a href="javascript:void(0)">Order Cancellation</a></li>
							<li><a href="javascript:void(0)">Suspicious Messages</a></li>
							<li><a href="javascript:void(0)">Reporting Abuse</a></li>
							<li><a href="javascript:void(0)">Account Restriction</a></li>
						</ul>
						<div class="show_all_link">
							<a href="javascript:void(0)">Show All</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="single_topic">
						<h5>FAQs:</h5>
						<ul>
							<li><a href="javascript:void(0)">Buyer FAQs</a></li>
						</ul>
						<div class="show_all_link">
							<a href="javascript:void(0)">Show All</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="single_topic">
						<h5>TroubleShooting:</h5>
						<ul>
							<li><a href="javascript:void(0)">Getting Started</a></li>
							<li><a href="javascript:void(0)">Account and Profile Settings</a></li>
							<li><a href="javascript:void(0)">Buying on Gabazzo</a></li>
							<li><a href="javascript:void(0)">My Orders</a></li>
							<li><a href="javascript:void(0)">Payments & Invoices</a></li>
						</ul>
						<div class="show_all_link">
							<a href="javascript:void(0)">Show All</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>




	<section class="still_have_questions">
		<div class="container">
			<div class="contents text-center">
				<h3>Do you still have questions?</h3>
				<h6 class="my-4">Our support agents are ready with the answers.</h6>
				<div class="contact_us">
					<a class="btn btn-outline-info" href="javascript:void(0)">Contact Us</a>
				</div>
			</div>
		</div>
	</section>



	<footer class="footer_upper">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="single_part">
						<h3>Number of Companies in Waiting List</h3>
						<ul>
							<li><a href="javascript:void(0)"><%= company.length %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="single_part">
						<h3>Mobile App Coming Soon</h3>
						<ul class="mobile_apps_part">
							<li><a href="javascript:void(0)"><img src="images/apple_store.png" class="img-fluid"
										alt="" /></a></li>
							<li><a href="javascript:void(0)"><img src="images/google_play_store.png" class="img-fluid"
										alt="" /></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="single_part">
						<h3>Service Resources</h3>
						<ul>
							<li><a href="javascript:void(0)">Tips, Guids & Advice</a></li>
						</ul>
						<div class="explore_resources mt-3">
							<a class="btn btn-secondary" href="javascript:void(0)">Explore Resources</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<footer class="footer_top">
		<div class="container">
			<div class="upper_part">
				<div class="row">
					<div class="col-md-6 col-lg-3">
						<div class="single_part">
							<nav class="navbar navbar-expand-md">
								<div class="container">
									<a class="footer_nav_togger1 footer_mobile_links" href="#gbzBuildTogether"
										data-toggle="collapse">
										<div class="heading gabazzo_headings">
											<h3>Gabazzo</h3>
											<h6>Building Communities Together</h6>
										</div>
									</a>
									<div class="collapse navbar-collapse" id="gbzBuildTogether">
										<div class="heading gabazzo_headings heading_for_desktop">
											<h3>Gabazzo</h3>
											<h6>Building Communities Together</h6>
										</div>
										<ul class="">
											<li><a href="/about-us">About Us</a></li>
											<li><a href="/site-map">Sitemap</a></li>
											<li><a href="/press-and-news">Press & News</a></li>
											<li><a href="/how-it-works-members">How It Works</a></li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>

					<div class="col-md-6 col-lg-3">
						<div class="single_part">
							<nav class="navbar navbar-expand-md">
								<div class="container">
									<a class="footer_nav_togger2 footer_mobile_links" href="#customerBar"
										data-toggle="collapse">
										<div class="heading">
											<h3>Customers</h3>
										</div>
									</a>
									<div class="collapse navbar-collapse" id="customerBar">
										<div class="heading heading_for_desktop">
											<h3>Customers</h3>
										</div>
										<ul class="">
											<li><a href="/sign-up">Sign Up</a></li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="single_part">
							<nav class="navbar navbar-expand-md">
								<div class="container">
									<a class="footer_nav_togger3 footer_mobile_links" href="#serviceCompaniesBar"
										data-toggle="collapse">
										<div class="heading">
											<h3>Service Companies</h3>
										</div>
									</a>
									<div class="collapse navbar-collapse" id="serviceCompaniesBar">
										<div class="heading heading_for_desktop">
											<h3>Service Companies</h3>
										</div>
										<ul class="">
											<li><a href="/company-sign-up-home">Sign Up as a Company</a></li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="single_part">
							<nav class="navbar navbar-expand-md">
								<div class="container">
									<a class="footer_nav_togger4 footer_mobile_links" href="#supportBar"
										data-toggle="collapse">
										<div class="heading">
											<h3>Support</h3>
										</div>
									</a>
									<div class="collapse navbar-collapse" id="supportBar">
										<div class="heading heading_for_desktop">
											<h3>Support</h3>
										</div>
										<ul class="">
											<li><a href="/help-center-buyer">Help Center</a></li>
											<li><a href="/safety-buyer">Safety</a></li>
											<li><a href="/terms-and-conditions">Terms of Use</a></li>
											<li><a href="/privacy-policy">Privacy Policy</a></li>
											<li><a href="/cookie-policy">Cookie Policy</a></li>
											<li><a href="/contact-us">Contact Us</a></li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_part">
				<div class="row">
					<div class="col-md-3">
						<div class="single_part footer_logo_part">
							<div class="footer_logo">
								<a href="/"><img src="images/gabazzo_logo_white.png" class="img-fluid" alt="" /></a>
							</div>
							<ul>
								<li>Chicago, IL 60623-1325</li>
								<li>support@gabazzo.com</li>
							</ul>
						</div>
					</div>
					<div class="col-md-5">
						<div class="single_part">
							<div class="catch_phrase">
								<p>Based in Chicago, Illinois Gabazzo is a platform created for the community in finding
									trusted and reliable services online. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single_part">
							<h2>Stay Connected:</h2>
							<h5>Subscribe to Gabazzo.com by entering your email below. You'll receive real-time updates
								when we Publish Newsletters, Website/Mobile App Updates, and much more.</h5>
							<form action="">
								<div class="form">
									<div class="form-group mb-1">
										<div class="subscribe_section">
											<input type="email" placeholder="Enter Your Email Here*" required
												class="form-control" />
											<button type="submit" class="btn btn-info">Subscribe</button>
										</div>
									</div>
								</div>
							</form>
							<div class="stay_connected">
								<div class="social_medis_links">
									<ul>
										<li><a href="https://www.facebook.com/gabazzoKAM/" target="_blank"><i
													class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="https://www.instagram.com/gabazzo/" target="_blank"><i
													class="fa fa-instagram" aria-hidden="true"></i></a></li>
										<li><a href="https://twitter.com/gabazzokam" target="_blank"><i
													class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="https://www.youtube.com/channel/UCKBhvVJYd_HhDHJ3KAnrFLQ?view_as=subscriber"
												target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<footer class="main_footer">
		<div class="container">
			<p class="mb-0">Copyright:&copy; 2019 Gabazzo. All Rights Reserved. Patent Pending</p>
		</div>
	</footer>


	<!--jQuery Main Libraty Latest Version-->
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
	<!--Bootstrap v4.1.3 JS File-->
	<script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
	<script src="../js/classie.js" type="text/javascript"></script>
	<script src="../js/custom.js" type="text/javascript"></script>
	<!--Custom JavaScript-->
	<script type="text/javascript"> </script>

</body>

</html>