<% layout('layouts/indexBoilerplate') -%>

<section class="safety_banner how_it_works_banner">
	<div class="overlay">
		<div class="container_gbz">
			<div class="content text-center">
				<h2>Find exactly what you're looking for.</h2>
				<h5>Get things done without the guesswork. We’ll match you with local pros who fit your project.</h5>
			</div>

			<div class="safety_menu">
				<ul>
					<li><a href="how-it-works-business-owner.html">Business Owner</a></li>
					<li class="active"><a href="how-it-works-members.html">Members</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="works_steps_wrapper">
	<div class="single_steps step_first">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="content_part">
						<div class="content_wrap">
							<h2>STEP 1</h2>
							<h1>Review of Your Project Needs </h1>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="image_part text-center">
						<img src="../images/icons/how_it_works_1.png" class="img-fluid" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="single_steps step_second">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="image_part text-center">
						<img src="../images/icons/how_it_works_2.png" class="img-fluid" alt="" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="content_part">
						<div class="content_wrap">
							<h2>STEP 2</h2>
							<h1>Use Gabazzo and Look Over Hundreds of Companies Profile or Start Chatting with Them</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="single_steps step_third">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="content_part">
						<div class="content_wrap">
							<h2>STEP 3</h2>
							<h1>Found the Company You Like? You’re Set to Hire!</h1>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="image_part text-center">
						<img src="../images/icons/how_it_works_3.png" class="img-fluid" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="sign_up_and_get_started_how">
	<div class="container_gbz">
		<div class="contents text-center">
			<h3>Sign up and create your first Service today</h3>
			<div class="get_started">
				<a class="btn btn-gbz-success" href="javascript:void(0)">Get Started</a>
			</div>
		</div>
	</div>
</section>