<% layout('layouts/indexBoilerplate') -%>

<section class="safety_banner how_it_works_banner">
	<div class="overlay">
		<div class="container_gbz">
			<div class="content text-center">
				<h2>Find exactly what you're looking for.</h2>
				<h5>Get things done without the guesswork. We’ll match you with local pros who fit your project.</h5>
			</div>

			<div class="safety_menu">
				<ul>
					<li class="active"><a href="javascript:void(0)">Business Owner</a></li>
					<li class=""><a href="how-it-works-members.html">Members</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>


<section class="works_steps_wrapper">
	<div class="single_steps">
		<div class="container">
			<div class="single_bs_part">
				<h4>Our platform spotlights your Company Profile</h4>
				<p>Hundreds of customers come to Gabazzo to find Service professionals that are capable of doing honest
					work. The member gets to view your real-time profile that haves About, Portfolio, Reviews, and much
					more. Members can filter the search results to find companies that are capable of their specific job
					requests.</p>
			</div>
			<div class="single_bs_part">
				<h4>Members choose the company they want to hire</h4>
				<p>Our members would usually look over through your company profile and if they think you’re a good fit
					for their project needs after viewing, they’ll chat with you. Now the member is intrigued by the
					capabilities of your company and what to hear of what you can offer to them.</p>
			</div>
			<div class="single_bs_part">
				<h4>Choose Members you’d like to work with at your own comfort</h4>
				<p>When members chose to contact you first you can view on the right side of the chatbox if they have
					either their Facebook or email connected. This means they’re trusted and cannot create multiple
					accounts, also you have the option to view the ratings, avg response time, and languages they speak.
					Always make sure you set your preferences of filters when creating your account [Or you can go to
					Settings -> Company Info Box -> Skills] this will give you jobs you are comfortable to work with and
					for members, you’ll appear in the search results when chosen a specific filter.</p>
			</div>
			<div class="single_bs_part">
				<h4>Respond quickly and get hired.</h4>
				<p>Once you have received a message from the member and they start to chat with you it is only up to you
					to review the job details and reply to them if interested in working for their project needs. Of
					course, if you respond fast or slow it’ll reflect on your ‘Avg Response Time’, it is always better
					to respond at your pace.</p>
			</div>
		</div>
	</div>
</section>


<section class="sign_up_and_get_started_how">
	<div class="container_gbz">
		<div class="contents text-center">
			<h3>Sign up and create your first Service today</h3>
			<div class="get_started">
				<a class="btn btn-gbz-success" href="javascript:void(0)">Get Started</a>
			</div>
		</div>
	</div>
</section>