<% layout('layouts/indexBoilerplate') -%>

<section class="site_links_wrapper">
	<div class="container">
		<div class="site_links_inner">
			<div class="coming_soon_image">
				<img src="../images/coming_soon.png" class="img-fluid" alt="" />
			</div>
		</div>
	</div>
</section>