<% layout('layouts/indexBoilerplate') -%>

<section class="safety_banner">
	<div class="overlay">
		<div class="container_gbz">
			<div class="content text-center">
				<h2>Smart Hiring on Gabazzo</h2>
				<h5>Lorem Ipsum Dolor Site Amet</h5>
				<div class="join_gabazzo_button">
					<a class="btn btn-gbz-success" href="javascript:void(0)">Join Gabazzo</a>
				</div>
			</div>

			<div class="safety_menu">
				<ul>
					<li class="active"><a href="javascript:void(0)">Safety For Buyer</a></li>
					<li><a href="safety-seller.html">Safety For Seller</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<div class="safety_banner_bottom">

</div>

<div class="safety_banner_bottom_content safety_contents_wrapper text-center">
	<div class="">
		<h6>Before you hire a pro on Gabazzo anywhere, really—there are a few things you should look for. Our tips are
			below.</h6>
		<h5>--</h5>
		<h6>Are you a pro on Gabazzo? Go to <a href="javascript:void(0)">Safety for pros</a></h6>
	</div>
</div>

<section class="site_links_wrapper safety_contents_wrapper">
	<div class="container">
		<div class="site_links_inner">
			<h2>Review the pro’s profile</h2>
			<h6>Profiles are designed to give you helpful information to hire the right pro. So take a look through:
			</h6>
			<div class="single_part">
				<h4>Customer reviews</h4>
				<p>See what past customers say about a pro. Verified reviews are from customers who hired a pro on
					Gabazzo, while unverified reviews are from customers who found the pro somewhere else. You can also
					see how a pro responded to reviewers, which can help you understand how they interact with their
					customers.</p>
			</div>
			<div class="single_part">
				<h4>Business information</h4>
				<p>The profile gives the pro a chance to tell you about their business —and explain why you should hire
					them. You’ll see things like pictures of their work, a description of their business, why they love
					what they do, a link to their website and how many times they’ve been hired on Gabazzo.</p>
			</div>
			<div class="single_part">
				<h4>Credentials</h4>
				<p>We know a pro’s credentials are important to hiring with confidence. A pro’s profile may include:</p>
				<ul>
					<li><b>A "Top Pro" badge,</b> which means they’re highly rated across several reviews from Gabazzo
						customers. Learn more about what it takes to be a Top Pro <a href="javascript:void(0)">here.</a>
					</li>
					<li><b>A license badge,</b> which means we’ve used a public database to verify the license number
						they provided.</li>
					<li><b>A background check badge,</b> which means the account holder submitted a background check and
						met our criteria to receive the background check badge. For businesses with multiple workers,
						this does not guarantee the specific person you're working with has passed a background check,
						so be sure you're comfortable with the person completing your request. </li>
				</ul>
			</div>
			<br />
			<hr />
			<br />
			<h2>Learn more about the pro</h2>
			<div class="single_part">
				<h4>Ask questions</h4>
				<p>We make it easy to talk a pro without revealing any of your contact info. So ask as many questions as
					you need, and tell them exactly what you’re looking for. You might want to ask about:</p>
				<ul>
					<li>pictures of past work </li>
					<li>references from past customers </li>
					<li>whether your project requires a permit </li>
					<li>if the pro plans to subcontract any of the work </li>
				</ul>
				<p>You can also send a pro pictures of what you’re looking for. Don’t be afraid to schedule a phone call
					or an in-person meeting. </p>
			</div>
			<div class="single_part">
				<h4>Research</h4>
				<p>It’s always worth seeing what other information you can find about a pro you’re considering. Think
					about resources like the <a href="javascript:void(0)">Better Business Bureau</a> or a web search to
					look for more information. You can also check out third-party resources like the Federal Trade
					Commission’s <a href="javascript:void(0)">guide to hiring a contractor</a> for additional tips. </p>
			</div>
			<br />
			<hr />
			<br />
			<h2>Plan ahead to make sure the job is done right</h2>
			<div class="single_part">
				<h4>Set expectations in writing</h4>
				<p>A written agreement is the best way to make sure everyone is on the same page. Include details like
					the who, what, where, and cost of your project. </p>
			</div>
			<div class="single_part">
				<h4>Agree on payment</h4>
				<p>Especially for high-value projects, don’t pay with cash (or via wire transfer or cashier’s check),
					and limit your down payment—in fact, some state laws limit the amount a pro can ask for up front.
					Consider making payments during the project contingent on completion of defined amounts of work.
				</p>
			</div>
			<br />
			<hr />
			<br />
			<h2>Think through insurance, permitting, and licensing</h2>
			<div class="single_part">
				<h4>Verify insurance</h4>
				<p>Something unexpected may happen during your project, so check your insurance policies to make sure
					you’re covered. Your own insurance provider is always the best resource to learn if your policy
					covers any risks associated with your project. You should also verify a pro’s insurance. See <a
						href="javascript:void(0)">this page</a> for tips.</p>
			</div>
			<div class="single_part">
				<h4>Get permits and check licensing</h4>
				<p>A pro’s license requirements (or whether permits are required for your project) depends on the laws
					of your city and state, and what kind of project you’re hiring for. Contact your state or local
					government about specific questions. We know this can be daunting, so we’ve pulled together some
					tips and resources to help you get started:</p>
				<ul>
					<li>A business license is NOT the same thing as an occupational license. A business license
						generally just means the pro is registered to do business in a city or state. It doesn’t
						authorize the pro to do any specific kind of project. An occupational license is what authorizes
						a pro to do certain kinds of work—for instance, as a plumber or an electrician. Gabazzo's policy
						allows only occupational licenses to qualify for a license badge.</li>
					<li>Some pros may be licensed for your job under the license of an authorized business associate
						with whom they work. If a pro has provided the correct documentation to verify that they are
						properly operating under a valid license, we may list the associate's license as "verified" on
						the pro's profile.</li>
					<li> There are several online resources that can help you verify a pro’s occupational license. For
						example, <a href="javascript:void(0)">BRB Publications, Inc</a>. maintains a database of some
						state occupational licensing board websites. Sometimes there may also be federal licensing
						requirements. For </li>
					<li>Sometimes there may also be federal licensing requirements. For example, interstate movers must
						be licensed by the <a href="javascript:void(0)">Federal Motor Carrier Safety Administration</a>.
					</li>
				</ul>


			</div>
			<div class="single_part">
				<p>Here are links to state government websites where you can find information about licensing: </p>
			</div>
			<div class="single_part">
				<h4>Illinois</h4>
				<ul>
					<li><a
							href="https://ilesonline.idfpr.illinois.gov/DFPR/Lookup/LicenseLookup.aspx/LicenseLookup.aspx">Illinois
							Department of Financial and Professional Regulation—License Search</a></li>
					<li><a href="https://www.icc.illinois.gov/utility/defaultHHG.aspx">Illinois Commerce Commission
							Household Goods Mover Search</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>