<% layout('layouts/indexBoilerplate') -%>

<section class="safety_banner">
	<div class="overlay">
		<div class="container_gbz">
			<div class="content text-center">
				<h2>Smart Hiring on Gabazzo</h2>
				<h5>Lorem Ipsum Dolor Site Amet</h5>
				<div class="join_gabazzo_button">
					<a class="btn btn-gbz-success" href="javascript:void(0)">Join Gabazzo</a>
				</div>
			</div>

			<div class="safety_menu">
				<ul>
					<li><a href="safety-buyer.html">Safety For Buyer</a></li>
					<li class="active"><a href="javascript:void(0)">Safety For Seller</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<div class="safety_banner_bottom">

</div>

<div class="safety_banner_bottom_content text-center">
	<div class="">
		<h6>At Gabazzo, we want pros to be safe — and for Gabazzo to be a safe place for everyone. Here’s how you can
			prioritize your safety before, during and after a job.</h6>
	</div>
</div>

<section class="site_links_wrapper safety_contents_wrapper">
	<div class="container">
		<div class="site_links_inner">
			<h2>Seller Expectations</h2>
			<div class="single_part">
				<p>Ask questions and set expectations with the customer before you get to the job. If you can, get
					everything in writing. A written agreement is the best way to make sure you’re on the same page.
					Include details like the who, what, where and cost of the project.
					<br />
					If a written agreement isn’t possible, cover these things with the customer before you get to the
					job:</p>
				<ul>
					<li><b>Work environment.</b> Discuss who’ll be in the house and where you’ll be working.</li>
					<li><b>Job expectations.</b> Make sure you know what the work will involve and that you can do it.
					</li>
					<li><b>Payment.</b> Talk about how much you charge and the method of payment in advance. This will
						help avoid potentially awkward situations at the end of the job when you ask to be paid.</li>
				</ul>
			</div>
			<br />
			<hr />
			<br />
			<h2>Trust your gut</h2>
			<div class="single_part">
				<p>Gabazzo works hard to screen requests, but you should also be on the lookout. If something feels off,
					it probably is.</p>
				<ul>
					<li><b>Avoid suspicious or spammy requests.</b> For example, the customer name sounds fake. Or the
						customer asks you for your bank account for no reason. Don’t respond to these requests — <a
							href="javascript:void(0)">report them to us instead.</a></li>
					<li><b>Report discriminatory requests.</b> Gabazzo has a <a
							href="javascript:void(0)">Non-Discrimination Policy</a> because we value good work and a job
						well done — not what you look like, who you love or what you believe in. Tell us if you feel a
						request is discriminatory, so we can investigate it.</li>
					<li><b>Tell someone before you start a new job.</b> Share where you’ll be working and when. Make
						sure your phone is always charged and near you in case of an emergency.</li>
					<li><b>Remove yourself from dangerous situations.</b> If something isn’t right, leave immediately.
						We care about your safety. If you <a href="javascript:void(0)">let us know</a> you left a job
						because you felt unsafe, we won’t hold it against you.</li>
					<li><b>Call 911 in case of an emergency.</b> If there is an imminent threat to someone’s health or
						safety, call 911 immediately. When safe to do so, please report these issues to us.</li>
				</ul>
			</div>
			<br />
			<hr />
			<br />
			<h2>Tell us if something happened</h2>
			<h6>Please tell us if something happens with a job you found on Gabazzo. We’ll work with you to resolve
				concerns, big or small.</h6>
			<br />
			<hr />
			<br />
			<h2>Resources</h2>
			<div class="single_part">
				<p>Below are some resources to keep in mind for either yourself or others that you may work with.</p>
			</div>
			<div class="single_part">
				<p>Household Worker Rights</p>
				<ul>
					<li><a href="https://www.domesticworkers.org/">National Domestic Workers Alliance</a></li>
				</ul>
			</div>
			<div class="single_part">
				<p>Emergency Resources</p>
				<ul>
					<li><a href="http://www.thehotline.org/resources/">National Domestic Violence Hotline</a></li>
					<li><a href="https://www.rainn.org/get-help">Rape, Abuse, Incest National Hotline</a></li>
					<li><a href="https://suicidepreventionlifeline.org/">National Suicide Prevention Lifeline</a></li>
					<li><a href="http://www.missingkids.com/gethelpnow/cybertipline">National Center For Missing and
							Exploited Children Cyber Tipline</a></li>
				</ul>
			</div>
			<div class="single_part">
				<p>Please note that, as a marketplace, Gabazzo does not control the actions of any pro or customer using
					our service. You can visit our <a href="javascript:void(0)">help center</a> to learn more about
					trust and safety on Gabazzo. For more information on how Gabazzo works, <a
						href="javascript:void(0)">click here</a>.</p>
			</div>
		</div>
	</div>
</section>