<% layout('layouts/indexBoilerplate') -%>

<section class="site_links_wrapper">
	<div class="container">
		<div class="site_links_inner">
			<h2>Introduction</h2>
			<div class="single_part">
				<p>Welcome to GABAZZO. By using GABAZZO, intended as a website or software applications (collectively,
					the "GABAZZO", the "Service", the "System"), the user of our services expressly agrees to have read,
					understood and accepted these Terms and Conditions and our Privacy Policy.</p>
				<p>If you do not agree with one or more of the clauses in our legal documentation, please do not use our
					services.</p>
				<p>In order to use the service, you mustaccept and sign (by implication) our legal documentation.</p>
				<p>The user also guarantees that all data provided to GABAZZO at the time of signing the contract is
					true, accurate and complete and undertakes to keep it true.</p>
			</div>
			<div class="single_part">
				<h4>Amendments to the agreements</h4>
				<p>From time to time, we may, at our discretion, make changes to the Service and/or our legal
					documentation. When we make significant changes to the legal documentation, we will notify users via
					the System. The continued use of GABAZZO after such changes, implies an express acknowledgement and
					acceptance of the changes.</p>
			</div>
			<div class="single_part">
				<h4>Licences</h4>
				<p>The GABAZZO and the content provided through it are property of GABAZZO or its licensors and we grant
					them to users under a limited, non-exclusive and revocable license for their personal and
					non-commercial use of the Service.</p>
				<p>All GABAZZO trademarks, service marks, trade names, logos, domain names and all other features of the
					GABAZZO trademark are the exclusive property of GABAZZO. This License does not grant any right to
					use the trademarks, GABAZZO service marks, trade names, logos, domain names, or other features of
					the GABAZZO trademark, whether for commercial or non-commercial use.</p>
				<p>The user agrees not to use the GABAZZO Service (including but not limited to its content) in any way
					that is not expressly provided for by these Conditions.</p>
				<p>Third party software collections included in the GABAZZO Service are licensed according to the rules
					set forth in these Terms.</p>
			</div>
			<div class="single_part">
				<h4>Third-party services</h4>
				<p>GABAZZO, in order to properly provide its services, may (now or in the future) use third party
					applications, websites and content directly offered by third parties ("Third Party Applications").
					The use of these applications is subject to their own terms of use. You acknowledge and agree that
					GABAZZO is not responsible for the behavior, features, or content of any third party application.
				</p>
			</div>
			<div class="single_part">
				<h4>User content</h4>
				<p>Users of GABAZZO may post (now or in the future), upload and/or contribute ("post") content to the
					Service, including photographs, text and other content ("Content"). You have the right to post any
					Content within the System and warrant that such Content or your use by us, as provided in these
					Agreements, will not violate these Agreements, applicable law, intellectual property or the rights
					of others. You hereby grant us an international, non-exclusive, transferable, sub-licensable,
					royalty-free, royalty-free license to any Content posted on, or in connection with, GABAZZO. The
					above license will be in effect until you suspend your GABAZZO account except in the case of content
					posted, made public or shared with others. In addition to the rights specifically granted herein,
					you retain ownership of all rights, including intellectual property rights, in the Content posted on
					the GABAZZO service, except that, where applicable under the laws of your country, you agree to
					waive your right to be identified as the author of any Content on the GABAZZO service and your right
					to object to derogatory treatment.</p>
				<p>GABAZZO does not monitor, review or modify the Content posted but reserves the right to remove or
					disable access to it for any reason, including, but not limited to, Content that, in our sole
					discretion, violates these Agreements. GABAZZO may take such action without prior notice to you.
					Removal or disabling of access to the Content in question will be at our sole discretion, and we
					cannot guarantee the removal or disabling of any Content that violates these Agreements.</p>
				<p>GABAZZO is not responsible for the Content posted and does not endorse any opinion contained therein.
					If you believe that any Content infringes any intellectual property rights, please contact us using
					the <a href="mailto:brian.gutierrez6523@gmail.com">brian.gutierrez6523@gmail.com</a>.</p>
			</div>
			<div class="single_part">
				<h4>User guidelines</h4>
				<p>GABAZZO respects intellectual property rights and expects users to do the same. GABAZZO has
					established some basic rules that users should follow when using the Service to ensure that GABAZZO
					remains a product that everyone can use. Please, follow these rules and encourage other users to
					behave in the same way. The following actions are not permitted for any reason:</p>
				<ul>
					<li>copy, redistribute, reproduce, "extract", record, transfer, perform or publicly display,
						transmit or make available to the public any part of the GABAZZO Service or Content, or
						alternatively make any use of the GABAZZO Service or Content that is not expressly permitted
						under the Agreements or applicable law, or that otherwise infringes the intellectual property
						rights (such as copyright) of the GABAZZO Service, Content or any part thereof.</li>
					<li>use the GABAZZO Service to import or copy local files for which you do not have the necessary
						legal rights to do so.</li>
					<li>reverse engineer, decompile, disassemble, modify or create derivative works based on the GABAZZO
						Service, Content or any part thereof, except as permitted by applicable law.</li>
					<li>circumvent any technology used by GABAZZO, its licensors or other third parties to protect
						Content or Service.</li>
					<li>sell, rent, subcontract or lease any part of the GABAZZO Service or Content.</li>
					<li>circumvent any territorial restrictions applied by GABAZZO or its licensors.</li>
					<li>remove or modify any copyright, trademark or other intellectual property notices contained in or
						provided through the GABAZZO Service (including for the purpose of concealing or modifying any
						proprietary or proprietary notices of any Content).</li>
					<li>crawl within the GABAZZO Service, or use other automated means (including bots, scraper and
						spiders) to collect information from GABAZZO.</li>
				</ul>
				<p>Please respect GABAZZO, the owners of the Content and other users of GABAZZO. Do not engage in any
					activity, post User Content (if applicable) or register and/or use a user name that is or includes
					material:</p>
				<ul>
					<li>offensive, disparaging, defamatory, pornographic, threatening or obscene</li>
					<li>illegal or designed to promote or commit illegal acts of any kind, including but not limited to
						infringement of the intellectual property rights, privacy rights or exclusive rights of GABAZZO
						or any third party.</li>
					<li>malicious such as malware, Trojan horses or viruses, or otherwise capable of interfering with
						your access to the Service;</li>
					<li>conceived or capable of causing disturbance or harassment to other users;</li>
					<li>capable of faking or misrepresenting its affiliation with other users, persons or entities, or
						otherwise fraudulent, false, deceptive or misleading;</li>
					<li>which uses automated means to artificially promote content;</li>
					<li>which involves the transmission of unsolicited mass messages or other forms of spam ("spam"),
						junk mail, chain letters or the like, including through the inbox of GABAZZO;</li>
					<li>that involves commercial or sales activities, such as advertising, promotions, contests,
						sweepstakes or pyramid schemes, that are not expressly authorized by GABAZZO;</li>
					<li>that connects, refers to or otherwise promotes commercial products or services, unless expressly
						authorized by GABAZZO;</li>
					<li>that interferes with or in any way disrupts the GABAZZO Service, tampers with, violates or
						attempts to probe, examine or vulnerability test the GABAZZO Service or computer systems or
						network, rules of use or any other security component, authentication measure or other GABAZZO
						protection measure applicable to the Service, Content or any part thereof; or</li>
					<li>that causes conflicts with the Agreements, as determined by GABAZZO.</li>
				</ul>
				<p>You understand and agree that the publication of such User Content may result in the immediate
					termination or suspension of your GABAZZO account. You also agree that GABAZZO may recall your
					username for any reason.</p>
				<p>The password protects the user account, and the user is solely responsible for keeping it
					confidential and secure. You understand that you are responsible for all use of your user name and
					password within the Service. In the event of theft or loss of your username or password, or if you
					believe that there has been unauthorized access to your account by a third party, please notify us
					immediately and change your password as soon as possible.</p>
			</div>
			<div class="single_part">
				<h4>Services, payments & fees</h4>
				<p>GABAZZO is a service provider website which offers to the customer, thanks to the presence of various
					sellers, different services according to the customer need. In this sense, two main parties are
					involved in the use of the website:</p>
				<p><b>- Customers:</b> they purchase various types of services into the website, in accordance with
					their needs.</p>
				<p><b>- Sellers:</b> they sell various types of services, satisfying the needs of the customers.</p>
			</div>
			<div class="single_part">
				<h4>Payments</h4>
				<p>GABAZZO currently accepts major credit cards and PayPal as valid method of payments. In this sense,
					using a determined method, the user expressly agrees to be the legal owner of the method or to have
					the full right of its use.</p>
			</div>
			<div class="single_part">
				<h4>Usage Fee</h4>
				<p>GABAZZO will retain, as usage fee, 15% of the total amount paid by customers for any service provided
					by the seller.</p>
			</div>
			<div class="single_part">
				<h4>Seller Fee</h4>
				<p>Any seller can operate with our website, paying a monthly subscription based fee.</p>
			</div>
			<div class="single_part">
				<h4>Disputes, resolutions and refunds</h4>
				<p>Any seller must concede a refund in case of delayed deliveries. If the seller refuses to concede a
					refund, we invite the customer to directly contact our support team which will provide to resolve
					the case.</p>
			</div>
			<div class="single_part">
				<h4>Limitations and Service modifications</h4>
				<p>GABAZZO will make reasonable efforts to keep the GABAZZO Service operational. However, from time to
					time, some technical difficulties or maintenance operations may cause temporary interruptions. To
					the extent permitted by applicable law, GABAZZO reserves the right to modify or discontinue,
					periodically and at any time, temporarily or permanently, the functions and capabilities of the
					GABAZZO Service, with or without notice and without any liability to users, except where prohibited
					by law, for any interruptions, changes or terminations of the GABAZZO Service or other related
					functions.</p>
			</div>
			<div class="single_part">
				<h4>Termination and cancellation</h4>
				<p>The Agreements will remain in force until terminated by the user or GABAZZO. However, the user
					understands and agrees that GABAZZO may at any time suspend or completely deny access to the
					services to any user, without any written notice.</p>
			</div>
			<div class="single_part">
				<h4>Warranty and disclaimer</h4>
				<p>GABAZZO TRIES TO PROVIDE THE BEST POSSIBLE SERVICE, BUT THE USER UNDERSTANDS AND AGREES THAT THE
					GABAZZO SERVICE IS PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT ANY WARRANTY OR EXPRESS OR IMPLIED
					STATUS OF ANY KIND. YOU USE GABAZZO SERVICE AT YOUR OWN RISK. TO THE MAXIMUM LIMITS LAID DOWN BY
					APPLICABLE LAW, GABAZZO AND ALL CONTENT OWNERS DO NOT PROVIDE ANY INSURANCE AND DENY ANY WARRANTY OR
					SATISFACTORY QUALITY, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. GABAZZO
					AND THE CONTENT OWNERS DO NOT WARRANT THAT IN ANY WAY THE GABAZZO SERVICE IS FREE OF MALWARE OR
					OTHER HARMFUL COMPONENTS. IN ADDITION, GABAZZO DOES NOT PROVIDE ANY INSURANCE AND DOES NOT WARRANT,
					AFFIRM OR ASSUME THE RESPONSIBILITY OF ANY APPLICATION OF THIRD PARTIES (OR ITS CONTENT), USER
					CONTENT OR OTHER PRODUCTS OR SERVICES PUBLISHED OR OFFERED BY THIRD PARTIES ON OR THROUGH THE
					SERVICE GABAZZO OR A WEBSITE LINKED THROUGH HYPERTEXT LINK OR PRESENTED IN A BANNER OR OTHER
					ADVERTISING. YOU ACKNOWLEDGE AND ACCEPT THAT GABAZZO IS NOT RESPONSIBLE FOR ANY TRANSACTION BETWEEN
					USER AND SUPPLIERS THIRD PARTIES OF APPLICATIONS OR THIRD-PARTY PRODUCTS OR SERVICES PUBLISHED ON OR
					THROUGH GABAZZO SERVICE. IN THIS RESPONSE, NO ADVICE OR INFORMATION PROVIDED FOR ORAL OR WRITTEN BY
					THE USER TO GABAZZO WILL CONSTITUTE ANY FORM OF WARRANTY FOR GABAZZO. IF PROHIBITED BY APPLICABLE
					LAW, SOME ASPECTS OF THIS SECTION CAN NOT APPLY TO CERTAIN JURISDICTIONS. </p>
			</div>
			<div class="single_part">
				<h4>Limitations</h4>
				<p>YOU AGREE THAT, TO THE EXTENT PERMITTED BY APPLICABLE LAW, THE ONLY AND SOLELY REMEDY FOR ANY
					PROBLEMS OR DISSATISTS WITH THE GABAZZO SERVICE CONSISTS IN STOPPING USING THE GABAZZO SERVICE. EVEN
					IF GABAZZO DOES NOT ASSUME ANY LIABILITY FOR THIRD PARTY APPLICATIONS OR THEIR CONTENT, AND EVEN IF
					THE RELATIONSHIP WITH THESE THIRD PARTY APPLICATIONS MAY BE ADJUSTED BY SEPARATE AGREEMENTS WITH
					THOSE THIRD PARTIES, TO THE EXTENT PERMITTED BY LAW ONLY AND ONLY REMEDY OFFERED BY GABAZZO FOR ANY
					PROBLEMS OR DISSATISFACTION WITH THIRD PARTY APPLICATIONS OR THEIR CONTENT CONSIST IN UNINSTALLING
					AND / OR STOP USING THESE THIRD-PARTY APPLICATIONS.</p>
				<p>IN THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT SHALL GABAZZO AND ITS OFFICIALS, SHAREHOLDERS,
					EMPLOYEES, AGENTS, DIRECTORS, AFFILIATES, BRANCHES, SUCCESSORS, ASSIGNEES, SUPPLIERS OR LICENSORS
					MAY BE CONSIDERED LIABLE FOR (1) ANY INDIRECT, SPECIAL, INCIDENTAL DAMAGES , PUNITIVE, EXEMPLARY OR
					CONSEQUENT; (2) ANY LOSS OF USE, DATA, BUSINESS OR USEFUL (DIRECT AND INDIRECT).</p>
			</div>
			<div class="single_part">
				<h4>Severability and Waiver</h4>
				<p>Except as otherwise stated in the Agreements, where any provision of the Agreements is held to be
					invalid or unenforceable for any reason or at any level, such invalidity or un-enforceability shall
					not in any way interfere with or render invalid or unenforceable the remaining provisions of the
					Agreements, and the enforcement of such provision shall be enforced to the fullest extent permitted
					by law.</p>
				<p>Any failure by GABAZZO or third party beneficiaries to enforce the Agreements or related clauses
					shall not void GABAZZO's or third party beneficiary's right to do so.</p>
			</div>
			<div class="single_part">
				<h4>Assignment</h4>
				<p>GABAZZO may assign the Agreements or any part thereof, and may also delegate any obligations under
					the Agreements. You may not assign the Agreements or any part thereof, nor transfer or sublicense
					your rights under the Agreements to any third party.</p>
			</div>
			<div class="single_part">
				<h4>Indemnification</h4>
				<p>To the fullest extent permitted by applicable law, you agree to indemnify and hold GABAZZO harmless
					from and against any damages, losses and expenses of any kind (including reasonable attorneys' fees
					and costs) arising out of: (1) your violation of this Agreement; (2) any User Content; (3) any
					activity in which you engage or perform through the GABAZZO Service; and (4) your violation of any
					law or the rights of any third party.</p>
			</div>
			<div class="single_part">
				<h4>Jurisdiction</h4>
				<p>GABAZZO operates in full accordance with the applicable laws of the state of Illinois and Federal
					Laws of USA. In this sense, any dispute or legal controversy will be resolved in the exclusive
					courts of Chicago, Illinois, USA.</p>
			</div>
			<div class="single_part">
				<h4>Contacts</h4>
				<p>If you have any questions about the GABAZZO Service or Agreements, please contact us at <a
						href="mailto:brian.gutierrez6523@gmail.com">brian.gutierrez6523@gmail.com</a>.</p>
			</div>
		</div>
	</div>
</section>