<% layout('layouts/companySignUpBoilerplate') -%>

<section class="become_seller_hbottom">
    <div class="container_gbz">
        <div class="row">
            <div class="col-md-7">
                <h4 class="mb-2">What Makes a Trusted and Great Gabazzo Profile?</h4>
                <h6>Your Profile must be completed with honesty to make an impression on a new visitor from the Gabazzo
                    Members!</h6>
                <div class="tips_wrap">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="single_tips">
                                <div class="icon">
                                    <img src="../images/icons/documents_icon.png" alt="" />
                                </div>
                                <p>Don’t stress in creating your profile you can always edit it later. Take your time.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_tips">
                                <div class="icon">
                                    <img src="../images/icons/girls_icon_working.png" alt="" />
                                </div>
                                <p>Gain confidence from buyers by linking your company accomplishments such as
                                    Certificates and Awards.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_tips">
                                <div class="icon">
                                    <img src="../images/icons/stats_icon.png" alt="" />
                                </div>
                                <p>When listing your Service or Product make sure to accurately describe your
                                    professional work to receive clientele.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_tips">
                                <div class="icon">
                                    <img src="../images/icons/inst_user.png" alt="" />
                                </div>
                                <p>Make sure to upload your company logo to show everyone you’re in the Service
                                    business.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_tips">
                                <div class="icon">
                                    <img src="../images/icons/lock_icon.png" alt="" />
                                </div>
                                <p>To keep the Gabazzo platform secure your company will need to be approved of or
                                    Gabazzo Screening Process. <a href="#findScreeningProcess" data-toggle="modal">Learn
                                        More</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="continue_button">
                    <a class="btn btn-gbz-success" href="/become-a-seller-overview-do-not">Continue</a>
                    <a class="btn btn-outline-secondary" href="/become-a-seller-overview">Back</a>
                </div>
            </div>

            <div class="col-md-5">
                <div class="become_seller_image">
                    <img src="../images/company-sign-up/become_a_seller_do.jpg" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Find Screening Process Modal Starts Here -->
<div class="modal gabazzo_screening_modal fade" id="findScreeningProcess">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="screening_header">
                    <h3>Gabazzo's Screening Process</h3>
                    <p>Gabazzo uses the following criteria to screen service professionals at the time they apply for
                        membership in our network:</p>
                </div>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
                        aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">
                <div class="all_screening_wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="single_screening">
                                <h5>Licensing</h5>
                                <p>We make sure that our service professional businesses carry any applicable
                                    state-level trade licensing for the services for which we match them to consumers.
                                </p>
                            </div>
                            <div class="single_screening">
                                <h5>Sex Offender Search</h5>
                                <p>We check the websites that consolidate state sex offender information in the state in
                                    which the owner/principal of the company is located to confirm that there is not a
                                    match based solely on the name of the owner/principal of the company.</p>
                            </div>
                            <div class="single_screening">
                                <h5>State Business Filings</h5>
                                <p>For service professionals that are corporations or limited liability companies, we
                                    confirm that the business is registered in the state in which it is located.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Find Screening Process Modal Ends Here -->