<% layout('layouts/companySignUpBoilerplate') -%>

<section class="become_seller_hbottom">
    <div class="container_gbz">
        <div class="row">
            <div class="col-md-6">
                <h4>Let’s get started on creating your new profile in Gabazzo, here is what you need to know:</h4>
                <div class="breakdown_wrapper">
                    <div class="single_breakdown display_integrity">
                        <h6>Display Integrity of your Company</h6>
                        <p>Discover the do’s and don’ts to ensure you’re always on the right track.</p>
                    </div>
                    <div class="single_breakdown create_profile">
                        <h6>Create your Company profile</h6>
                        <p>Add content such as Videos, Pictures, and Descriptions to make your professional company
                            profile.</p>
                    </div>
                    <div class="single_breakdown publish">
                        <h6>Publish your Services and Products</h6>
                        <p>Create your Services or Products that your company is selling.</p>
                    </div>
                </div>

                <div class="continue_button">
                    <a class="btn btn-gbz-success" href="/become-a-seller-overview-do">Continue</a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="become_seller_video">
                    <a class="lightcase" data-rel="lightcase" href="../media/birds.mp4">
                        <img src="../media/birds.png" class="img-fluid" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>