<% layout('layouts/companySignUpBoilerplate') -%>

<section class="become_seller_hbottom">
    <div class="container_gbz">
        <div class="row">
            <div class="col-md-6">
                <h4>Thanks! Now You're Ready To Create Your Five-Star Seller Profile</h4>
                <div class="breakdown_wrapper">
                    <div class="single_breakdown successful_profile completed_icon">
                        <h6>Learn what makes a successful profile</h6>
                        <p>Discover the do’s and don’ts to ensure you’re always on the right track.</p>
                    </div>
                    <div class="single_breakdown create_profile">
                        <h6>Create your seller profile</h6>
                        <p>Add your profile picture, description, and professional information.</p>
                    </div>
                    <div class="single_breakdown publish">
                        <h6>Publish your Service</h6>
                        <p>Create a Service of the service you’re offering and start selling instantly.</p>
                    </div>
                </div>

                <div class="continue_button">
                    <a class="btn btn-gbz-success" href="/company-sign-up">Continue</a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="become_seller_video">
                    <a class="lightcase" data-rel="lightcase" href="../media/birds.mp4">
                        <img src="../media/birds.png" class="img-fluid" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>