<% layout('layouts/companySignUpBoilerplate') -%>

<section class="become_seller_hbottom">
    <div class="container_gbz">
        <div class="row">
            <div class="col-md-5">
                <div class="become_seller_image_dont">
                    <img src="../images/company-sign-up/become_a_seller_do_not.jpg" class="img-fluid" alt="" />
                </div>
            </div>

            <div class="col-md-7">
                <h4 class="mb-2">Let’s talk about something you will want to avoid in the Gabazzo Platform.</h4>
                <h6>Your Success is important to Gabazzo. Please avoid the following to keep up with our Community
                    Standards:</h6>
                <div class="tips_wrap">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="single_tips">
                                <div class="icon">
                                    <img src="../images/icons/info_icon.png" alt="" />
                                </div>
                                <p>Providing misleading or inaccurate information about your company.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_tips">
                                <div class="icon">
                                    <img src="../images/icons/duplicate_accounts.png" alt="" />
                                </div>
                                <p>Opening duplicate accounts, remember you can always contact us if you have another
                                    location.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_tips">
                                <div class="icon">
                                    <img src="../images/icons/seal_icon.png" alt="" />
                                </div>
                                <p>Soliciting other members within the Gabazzo community.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_tips">
                                <div class="icon">
                                    <img src="../images/icons/chatting_icon.png" alt="" />
                                </div>
                                <p>Requesting to take communication outside of Gabazzo.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="continue_button">
                    <a class="btn btn-gbz-success" href="/become-a-seller-overview2">Continue</a>
                    <a class="btn btn-outline-secondary" href="/become-a-seller-overview-do">Back</a>
                </div>
            </div>
        </div>
    </div>
</section>