<% layout('layouts/companySignUpBoilerplate') -%>

<section class="become_seller_steps_bar">
	<div class="container_gbz">
		<div class="row">
			<div class="col-md-9">
				<ul>
					<li class="completed"><a href="become-a-seller-personal-info.html">Personal Info</a></li>
					<li class="active"><a href="javascript:void(0)">Company Info</a></li>
					<li><a href="javascript:void(0)">Linked Accounts</a></li>
					<li><a href="javascript:void(0)">Account Security</a></li>
					<li><a href="javascript:void(0)">Payment Method</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="completion_progressbar">
					<h6>Completion Rate:</h6>
					<div class="progressbar profession_info_progress">
						<div class="progress_fill" style="background:#5DC560; width:40%;">

						</div>
						<span>40%</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="become_a_seller_form">
	<div class="container">
		<div class="upper_text">
			<h3>Company Info</h3>
			<h6>* Mandatory fields</h6>
		</div>
		<hr />
		<form action="/company-sign-up2" method="POST" enctype="multipart/form-data">
			<div class="form">
				<div class="form_single_part">
					<div class="row">
						<div class="col-md-3">
							<div class="left_heading">
								<h4>Company Name<b>*</b></h4>
							</div>
						</div>
						<div class="col-md-9">
							<div class="form-group">
								<input type="text" name="companyName" placeholder="Company Name..." class="form-control"
									required>
							</div>
						</div>
					</div>
				</div>
				<div class="form_single_part">
					<div class="row">
						<div class="col-md-3">
							<div class="left_heading">
								<h4 for="">Company Logo<b>*</b></h4>
								<h6>Add your company logo to show everyone you’re in the Service business.</h6>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<div class="upload_profile_pic">
									<a href="javascript:void(0)"><img id="blah" src="../images/man.png"
											class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single_upload">
								<div class="upload_header">
									<h5>Upload Company Logo</h5>
								</div>
								<div class="upload_area">
									<div class="form-group">
										<input type="file" name="logo" id="file-1" class="inputfile inputfile-1"
											data-multiple-caption="{count} files selected" multiple />
										<label for="file-1">
											<div class="upload_fils">
												<div class="icon">
													<i class="fa fa-cloud-upload" aria-hidden="true"></i>
												</div>
												<h5>Drag & Drop a Files Here <br /> or <br /> Click to Upload</h5>
											</div>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form_single_part">
					<div class="row">
						<div class="col-md-3">
							<div class="left_heading">
								<h4>About Company <b>*</b></h4>
							</div>
						</div>
						<div class="col-md-9">
							<div class="form-group">
								<textarea name="about" id="myText"
									placeholder="Write a Short Description About Your Company..." cols="30" rows="4"
									class="form-control" maxlength="600"></textarea>
								<div class="text-right">
									<small><span id="wordCount">0</span>/600</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form_single_part">
					<div class="row">
						<div class="col-md-3">
							<h4>Your Company Skills<b>*</b></h4>
						</div>
						<div class="col-md-9">
							<div class="form-row">
								<div class="form-group col-md-6">
									<select name="service" id="service" class="form-control">
										<option>--Select Service--</option>
										<option>Outdoor Work</option>
										<option>Indoor Work</option>
										<option>Vehicle Services</option>
										<option>Other Services</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<select name="serviceCategory" id="category" class="form-control">
										<option value="">--Select Service Category--</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form_single_part">
					<div class="row">
						<div class="col-md-3">
							<h4 for="">Filters<b>*</b> <span class="private">private</span></h4>
							<h6>These are the Services within the filters you can work with.</h6>
						</div>
						<div class="col-md-9">
							<div class="pb-3">
								<div class="form" id="content">
									<div class="form-row" id="create">
										<div class="form-group mb-0 col-md-4">
											<select name="filters" id="" class="form-control filters">
												<option value="">--Select Filter--</option>
											</select>
										</div>
										<div class="form-group mb-0 col-md-4">
											<select name="levels" id="" class="form-control">
												<option>Beginner</option>
												<option>Intermediate</option>
												<option>Expert</option>
											</select>
										</div>
										<div class="form-group col-md-3">
											<a class="add_new__skills_button btn-gbz-success pr-3"
												href="javascript:void(0)" onclick="addRow()">Add New</a>
											<input type="button" value="Remove" class="btn btn-danger"
												href="javascript:void(0)" onclick="removeRow(this)">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="form_continue_button">
				<button type="submit" class="btn btn-gbz-success">Save & Continue</button>
			</div>
	</div>
	</form>
	</div>
</section>


<!-- Modal For Edit Skills Level Starts -->
<div class="modal edit_skills_level_modal fade" id="editLevel">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Edit Skills Level</h3>
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
						aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<form action="">
					<div class="form">
						<div class="form-group">
							<select name="" id="" class="form-control">
								<option value="">Beginner</option>
								<option value="">Intermediate</option>
								<option value="">Expert</option>
							</select>
						</div>
						<div class="update_button text-right">
							<button type="submit" class="btn btn-gbz-success">Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Modal For Edit Skills Level Ends -->