<% layout('layouts/companySignUpBoilerplate') -%>

<section class="become_seller_steps_bar">
    <div class="container_gbz">
        <div class="row">
            <div class="col-md-9">
                <ul>
                    <li class="completed"><a href="become-a-seller-personal-info.html">Personal Info</a></li>
                    <li class="completed"><a href="become-a-seller-company-info.html">Company Info</a></li>
                    <li class="completed"><a href="become-a-seller-linked-accounts.html">Linked Accounts</a></li>
                    <li class="active"><a href="javascript:void(0)">Account Security</a></li>
                    <li><a href="javascript:void(0)">Payment Method</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="completion_progressbar">
                    <h6>Completion Rate:</h6>
                    <div class="progressbar profession_info_progress">
                        <div class="progress_fill">

                        </div>
                        <span>80%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="become_a_seller_form">
    <div class="container">
        <div class="upper_text">
            <h3>Account Security</h3>
            <p>Trust and safety is a big deal in our community. Please verify your email so that we can keep your
                account secured.</p>
        </div>
        <hr />
        <div class="linked_account">
            <form action="/company-sign-up4" method="POST">
                <% if (!currentUser.isEmailVerified) {%>
                <div class="single_linked_account">
                    <ul>
                        <li class="account_securite connected"><span class=""><i class="fa fa-envelope"
                                    aria-hidden="true"></i> Email <span class="private">Private</span></span><button
                                type="submit" class="btn btn-default verify">Verify</button> <br /> <small>We'll
                                never share your Email with
                                anyone.</small></li>
                        <div class="form-group col-md-6">
                            <input name="email" type="text" placeholder="Your Email Address" class="form-control"
                                required />
                        </div>
                    </ul>
                </div>
                <% } else if (currentUser.isEmailVerified) { %>
                <div class="single_linked_account">
                    <ul>
                        <li class="account_securite connected"><span class=""><i class="fa fa-envelope"
                                    aria-hidden="true"></i> Email <span class="private">Private</span></span> <a
                                href="javascript:void(0)">Verified</a> <br /> <small>We'll never share your Email
                                with anyone.</small></li>
                    </ul>
                </div>
                <% } else { %>
                <div class="single_linked_account">
                    <ul>
                        <li class="account_securite connected"><span class=""><i class="fa fa-envelope"
                                    aria-hidden="true"></i> Email <span class="private">Private</span></span> <a
                                href="javascript:void(0)">Verified</a> <br /> <small>We'll never share your Email
                                with anyone.</small></li>
                    </ul>
                </div>
                <% } %>
            </form>


            <hr />
            <br />

            <div class="form_continue_button">
                <a class="btn btn-gbz-success" href="/company-sign-up5">save & Continue</a>
            </div>
        </div>
    </div>
</section>