<% layout('layouts/companySignUpBoilerplate') -%>

<section class="become_seller_steps_bar">
	<div class="container_gbz">
		<div class="row">
			<div class="col-md-9">
				<ul>
					<li class="active"><a href="javascript:void(0)">Personal Info</a></li>
					<li><a href="javascript:void(0)">Company Info</a></li>
					<li><a href="javascript:void(0)">Linked Accounts</a></li>
					<li><a href="javascript:void(0)">Account Security</a></li>
					<li><a href="javascript:void(0)">Payment Method</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="completion_progressbar">
					<h6>Completion Rate:</h6>
					<div class="progressbar">
						<div class="progress_fill">

						</div>
						<span>20%</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="become_a_seller_form">
	<div class="container">
		<div class="upper_text">
			<h3>Personal Info</h3>
			<p>Please fill in the following information, this info will stay private and not released to the public.
			</p>
			<h6>* Mandatory fields</h6>
		</div>
		<hr />
		<form action="/company-sign-up" method="POST" enctype="multipart/form-data">
			<div class="form">
				<div class="form_single_part">
					<div class="row">
						<div class="col-md-3">
							<div class="left_heading">
								<h4 for="">Profile Picture<b>*</b></h4>
								<h6>Add a profile picture so our team knows who they're working with.</h6>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<div class="upload_profile_pic">
									<a href="javascript:void(0)"><img id="blah" src="../images/man.png"
											class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single_upload">
								<div class="upload_header">
									<h5>Upload Profile Picture</h5>
								</div>
								<div class="upload_area">
									<div class="form-group">
										<input type="file" name="profilePicture" id="file-1"
											class="inputfile inputfile-1" accept="image/*" required />
										<label for="file-1">
											<div class="upload_fils">
												<div class="icon">
													<i class="fa fa-cloud-upload" aria-hidden="true"></i>
												</div>
												<h5>Drag & Drop a Files Here <br /> or <br /> Click to Upload</h5>
											</div>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form_single_part">
					<div class="row">
						<div class="col-md-3">
							<div class="left_heading">
								<h4 for="">Personal Info<b>*</b></h4>
							</div>
						</div>
						<div class="col-md-9">
							<div class="form">
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="">First Name:</label>
										<input name="firstName" type="text" placeholder="Your First Name..."
											class="form-control" required />
									</div>
									<div class="form-group col-md-6">
										<label for="">Last Name:</label>
										<input name="lastName" type="text" placeholder="Your Last Name..."
											class="form-control" required />
									</div>
									<div class="form-group col-md-12">
										<label for="">Email:</label>
										<input name="email" type="email" placeholder="Your Email..."
											class="form-control" required />
									</div>
									<div class="form-group col-md-12">
										<label for="">Username:</label>
										<input name="username" type="text" placeholder="Your Username..."
											class="form-control" required />
									</div>
									<div class="form-group col-md-12">
										<label for="">Password:</label>
										<input name="password" type="password" placeholder="Your Password..."
											class="form-control" required />
									</div>
								</div>
								<div class="form-group">
									<label for="">Address Line 1<b>*</b>:</label>
									<input name="location" type="text" placeholder="Street Address" class="form-control"
										required />
								</div>
								<div class="form-group">
									<label for="">Address Line 2:</label>
									<input name="address2" type="text" placeholder="(Optional)" class="form-control" />
								</div>
								<div class="form-row">
									<div class="form-group col-md-4">
										<label for="">City:</label>
										<input name="city" type="text" placeholder="Ex: Chicago" class="form-control"
											value="Chicago" required />
									</div>
									<div class="form-group col-md-4">
										<label for="">State/Province/Region:</label>
										<input name="state" type="text" class="form-control" value="Illinois"
											required />
									</div>
									<div class="form-group col-md-4">
										<label for="">ZIP Code:</label>
										<input name="zipCode" type="text" placeholder="Ex: 54004" class="form-control"
											required />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6">
										<label for="">Country:</label>
										<select name="country" id="" class="form-control">
											<option value="United States" selected>United States</option>
										</select>
									</div>
									<div class="form-group col-md-6">
										<label for="">Phone Number:</label>
										<input name="phoneNumber" type="tel" placeholder="Ex: +1 (222)444-5566"
											class="form-control" required />
									</div>
								</div>
							</div>
							<div class="form_continue_button submit">
								<button type="submit" class="btn btn-gbz-success">Save & Continue</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>