<% layout('layouts/companySignUpBoilerplate') -%>

<section class="become_seller_steps_bar">
	<div class="container_gbz">
		<div class="row">
			<div class="col-md-9">
				<ul>
					<li class="completed"><a href="become-a-seller-personal-info.html">Personal Info</a></li>
					<li class="active"><a href="javascript:void(0)">Company Info</a></li>
					<li><a href="javascript:void(0)">Linked Accounts</a></li>
					<li><a href="javascript:void(0)">Account Security</a></li>
					<li><a href="javascript:void(0)">Payment Method</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="completion_progressbar">
					<h6>Completion Rate:</h6>
					<div class="progressbar profession_info_progress">
						<div class="progress_fill">

						</div>
						<span>80%</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="become_a_seller_form">
	<div class="container">
		<div class="upper_text">
			<h3>Company Info</h3>
			<h6>* Mandatory fields</h6>
		</div>
		<hr />
		<form action="/company-sign-up2" method="POST" enctype="multipart/form-data">
			<div class="form">
				<div class="form_single_part">
					<div class="row">
						<div class="col-md-3">
							<div class="left_heading">
								<h4 for="">Company Logo<b>*</b></h4>
								<h6>Add your company logo to show everyone you’re in the Service business.</h6>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<div class="upload_profile_pic">
									<a href="javascript:void(0)"><img id="blah" src="../images/man.png"
											class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single_upload">
								<div class="upload_header">
									<h5>Upload Company Logo</h5>
								</div>
								<div class="upload_area">
									<div class="form-group">
										<input type="file" name="logo" id="file-1" class="inputfile inputfile-1"
											data-multiple-caption="{count} files selected" multiple />
										<label for="file-1">
											<div class="upload_fils">
												<div class="icon">
													<i class="fa fa-cloud-upload" aria-hidden="true"></i>
												</div>
												<h5>Drag & Drop a Files Here <br /> or <br /> Click to Upload</h5>
											</div>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form_single_part">
					<div class="row">
						<div class="col-md-3">
							<div class="left_heading">
								<h4>About Company <b>*</b></h4>
							</div>
						</div>
						<div class="col-md-9">
							<div class="form-group">
								<!-- <input type="text" name="about" class="about"
										placeholder="Write a Short Description About Your Company" class="form-control"> -->
								<textarea name="about" id=""
									placeholder="Write a Short Description About Your Company..." cols="30" rows="4"
									class="form-control"></textarea>
								<div class="text-right">
									<small>0/600</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form_single_part">
					<div class="row">
						<div class="col-md-3">
							<h4>Your Company Skills<b>*</b></h4>
						</div>
						<div class="col-md-9">
							<div class="form-row">
								<div class="form-group col-md-6">
									<select name="service" id="service" class="form-control">
										<option>--Select Service--</option>
										<option>Outdoor Work</option>
										<option>Indoor Work</option>
										<option>Vehicle Services</option>
										<option>Other Services</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<select name="serviceCategory" id="category" class="form-control">
										<option value="">--Select Service Category--</option>
									</select>
								</div>
							</div>

							<!-- <div class="select_subcategory">
									<h5>Choose the Filters you can work with:</h5>

									<div class="filter_areas my-3">
										<div class="single_filter_area">
											<div class="single_service_type_buttons">
												<div class="form-row">
													<div class="form-group col-md-4">
														<label class="radio">Repair
															<input type="radio" id="fencingRepair"
																name="fencing_service_type">
															<span class="checkround"></span>
														</label>
													</div>

													<div class="form-group col-md-4">
														<label class="radio">Installation
															<input type="radio" id="fencingInstallation"
																name="fencing_service_type">
															<span class="checkround"></span>
														</label>
													</div>

													<div class="form-group col-md-4">
														<label class="radio">Material Repair
															<input type="radio" id="fencingMaterial"
																name="fencing_service_type">
															<span class="checkround"></span>
														</label>
													</div>
												</div>
											</div>

											<div class="single_service_type">
												<div id="fencingRepairBottom" class="hidden_content">
													<h4>Fence Repair Project Type:</h4>
													<label class="check">The Fence is leaning or sagging
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Gate is Leaning or Sagging
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Fence Sections Need Replacement
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Posts Need Replacement
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">The fence needs repainting or Restaining
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Gate hinge or opening mechanism is broken/slow
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Not sure; Needs a professional evaluation
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
												</div>
											</div>

											<div class="single_service_type">
												<div id="fencingInstallationBottom" class="hidden_content">
													<h4>Material Installation:</h4>
													<label class="check">Wood
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Chain Link
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Vinyl
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Aluminum
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Steel
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Iron
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Electric Wiring
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Barbed Wire
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
												</div>
											</div>

											<div class="single_service_type">
												<div id="fencingMaterialBottom" class="hidden_content">
													<h4>Fence/Gate Material:</h4>
													<label class="check">Wood
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Chain link Steel or aluminum
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
													<label class="check">Not sure; I need professional help to identify
														<input type="checkbox" name="is_name">
														<span class="checkmark"></span>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div> -->
						</div>
					</div>
				</div>

				<div class="form_single_part">
					<div class="row">
						<div class="col-md-3">
							<h4 for="">Skills<b>*</b> <span class="private">private</span></h4>
							<h6>These are the Services within the filters you can work with.</h6>
						</div>
						<div class="col-md-9">
							<div class="add_new_skills_row add_new_row_in_form">
								<div class="form">
									<div class="form-row">
										<div class="form-group mb-0 col-md-4">
											<input type="text" placeholder="Add Skill" class="form-control" />
										</div>
										<div class="form-group mb-0 col-md-4">
											<select name="" id="" class="form-control">
												<option value="">Beginner</option>
												<option value="">Intermediate</option>
												<option value="">Expert</option>
											</select>
										</div>
										<div class="form-group mb-0 col-md-4">
											<ul>
												<li><a class="cancel_to_skill_row btn btn-outline-gbz-success"
														href="javascript:void(0)">Cancel</a></li>
												<li><a class="btn btn-gbz-success" href="javascript:void(0)">Add</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Services Name</th>
											<th>Chosen Filters</th>
											<th>Level</th>
											<th class="text-right"><a class="add_new__skills_button"
													href="javascript:void(0)">Add New</a></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Lorem</td>
											<td>Lorem</td>
											<td>Expert</td>
											<td class="text-right action_buttons">
												<a href="#editLevel" data-toggle="modal"><i title="Edit Level"
														data-toggle="tooltip" class="fa fa-pencil-square-o"
														aria-hidden="true"></i></a>
												<a href="javascript:void(0)"><i title="Remove" data-toggle="tooltip"
														class="fa fa-trash-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>Lorem</td>
											<td>Lorem</td>
											<td>Beginner</td>
											<td class="text-right action_buttons">
												<a href="#editLevel" data-toggle="modal"><i title="Edit Level"
														data-toggle="tooltip" class="fa fa-pencil-square-o"
														aria-hidden="true"></i></a>
												<a href="javascript:void(0)"><i title="Remove" data-toggle="tooltip"
														class="fa fa-trash-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>Lorem</td>
											<td>Lorem</td>
											<td>Expert</td>
											<td class="text-right action_buttons">
												<a href="#editLevel" data-toggle="modal"><i title="Edit Level"
														data-toggle="tooltip" class="fa fa-pencil-square-o"
														aria-hidden="true"></i></a>
												<a href="javascript:void(0)"><i title="Remove" data-toggle="tooltip"
														class="fa fa-trash-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>Lorem</td>
											<td>Lorem</td>
											<td>Intermediate</td>
											<td class="text-right action_buttons">
												<a href="#editLevel" data-toggle="modal"><i title="Edit Level"
														data-toggle="tooltip" class="fa fa-pencil-square-o"
														aria-hidden="true"></i></a>
												<a href="javascript:void(0)"><i title="Remove" data-toggle="tooltip"
														class="fa fa-trash-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>Lorem</td>
											<td>Lorem</td>
											<td>Expert</td>
											<td class="text-right action_buttons">
												<a href="#editLevel" data-toggle="modal"><i title="Edit Level"
														data-toggle="tooltip" class="fa fa-pencil-square-o"
														aria-hidden="true"></i></a>
												<a href="javascript:void(0)"><i title="Remove" data-toggle="tooltip"
														class="fa fa-trash-o" aria-hidden="true"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="form_continue_button">
					<button type="submit" class="btn btn-gbz-success">Save & Continue</button>
				</div>
			</div>
		</form>
	</div>
</section>


<!-- Modal For Edit Skills Level Starts -->
<div class="modal edit_skills_level_modal fade" id="editLevel">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Edit Skills Level</h3>
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
						aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<form action="">
					<div class="form">
						<div class="form-group">
							<select name="" id="" class="form-control">
								<option value="">Beginner</option>
								<option value="">Intermediate</option>
								<option value="">Expert</option>
							</select>
						</div>
						<div class="update_button text-right">
							<button type="submit" class="btn btn-gbz-success">Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Modal For Edit Skills Level Ends -->