<% layout('layouts/loginBoilerplate') -%>

<section class="registration_form">
	<div class="container_gbz">
		<div class="row">
			<div class="col-md-6">
				<div class="video_explainer">
					<a href="../media/birds.mp4" class="lightcase" data-rel="lightcase">
						<img src="../media/birds.png" class="img-fluid" alt="" />
					</a>
				</div>
				<div class="bottom_text">
					<h3>Welcome to Gabazzo! Where we make your project needs easier to find</h3>
					<ul>
						<li>Have access to message verified companies throughout the Chicago area or nearby</li>
						<li>Analyze company profiles and view if they're the right fit for your project needs</li>
						<li>View the Products and Services the companies are offering</li>
						<li>Take a look at our Map to see where companies are located easily! </li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form_wrapper">
					<div class="form_top">
						<h2>Create Your Account</h2>
					</div>
					<form action="/sign-up" method="POST">
						<div class="form">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="">First Name</label>
									<input type="text" name="firstName" required class="form-control" />
								</div>
								<div class="form-group col-md-6">
									<label for="">Last Name</label>
									<input type="text" name="lastName" required class="form-control" />
								</div>
								<div class="form-group col-md-12">
									<label for="">Username</label>
									<input type="text" name="username" required class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label for="">Email</label>
								<input type="email" name="email" required class="form-control" />
							</div>
							<div class="form-group">
								<label for="">Password</label>
								<input type="password" name="password" required class="form-control" />
							</div>
							<div class="form-group">
								<label for="">Re-Type Password</label>
								<input type="password" required class="form-control" />
							</div>
							<div class="create_account_button">
								<button type="submit" class="btn btn-gbz-success d-block">Create Account</button>
							</div>
							<div class="or_text">
								<h4>OR</h4>
							</div>
							<div class="form_text text-center">
								<span>By clicking Create Account, Sign Up with Facebook or Sign Up with Google, you
									agree to the <a href="/terms-and-conditions">Terms of Use</a> and <a
										href="/privacy-policy">Privacy Policy</a>.</span>
							</div>
							<div class="google_fb_sign_up">
								<ul>
									<li class="facebook"><a href="/auth/facebook"><img
												src="../images/icons/facebook_icon.png" alt="" />Sign Up With
											Facebook</a></li>
									<li class="google"><a href="/auth/google"><img src="../images/icons/google_icon.png"
												alt="" />Sign Up With
											Google</a></li>
								</ul>
							</div>
						</div>
					</form>
					<div class="form_bottom">
						<h6>Already have an account? <a href="/login">Sign In</a></h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>