<% layout('layouts/settingsBoilerplate') -%>


<div class="profile_setting_wrap">
	<div class="container-fluid">
		<div class="row">
			<!-- Left Menu Starts From Here -->
			<div class="col-lg-3">
				<nav class="navbar navbar-expand-lg">
					<div class="ps_left_menu border collapse navbar-collapse h-100" id="responsive-bar">
						<ul class="list-group list-group-flush list-group-sidemenu">
							<li class="list-group-item active"><a href="javascript:void(0)">Account</a></li>
							<li class="list-group-item"><a href="/company-settings/security">Security</a></li>
							<li class="list-group-item"><a href="/company-settings/notifications">Emails &
									Notifications</a></li>
							<li class="list-group-item"><a href="/company-settings/billing">Billing</a></li>
							<li class="list-group-item"><a href="/company-settings/payment">Payment & Financial</a></li>
							<li class="list-group-item"><a href="/company-settings/trust-verification">Trust &
									Verification</a>
							</li>
							<!-- <li class="list-group-item"><a href="/company-settings/company-info">Company Info Box</a>
							</li> -->
						</ul>
					</div>
				</nav>
			</div>
			<!-- Left Menu Ends Here -->

			<div class="col-lg-9 profile_setting">
				<div class="profile_setting_wrapper ac_setting">
					<div class="top text-right">
						<p>Need to update your public profile? <a href="/company-dashboard">Go to
								My
								Profile</a></p>
					</div>
					<form action="/company-settings/account?_method=PUT" method="POST">
						<div class="form">
							<div class="form-row">
								<div class="col-md-4 mt-2">
									<label for="">EMAIL</label>
								</div>
								<div class="form-group col-md-8">
									<input type="email" name="email" placeholder="<%= currentUser.email %>"
										class="form-control" />
								</div>
							</div>

							<div class="form-row">
								<div class="col-md-4">
									<label for="" class="mb-0">ONLINE STATUS</label>
									<h6>When online your service are visible under the online search filter.</h6>
								</div>
								<div class="form-group col-md-8 mt-2">
									<select name="" id="" class="form-control">
										<option value="">GO OFFLINE FOR</option>
										<option value="">GO OFFLINE FOR</option>
										<option value="">GO OFFLINE FOR</option>
										<option value="">GO OFFLINE FOR</option>
										<option value="">GO OFFLINE FOR</option>
										<option value="">GO OFFLINE FOR</option>
										<option value="">GO OFFLINE FOR</option>
									</select>
								</div>
							</div>

							<div class="save_button">
								<button type="submit" class="btn">Save Change</button>
							</div>
						</div>
					</form>
					<div class="deactive_account">
						<div class="row">
							<div class="col-md-4">
								<h4>Account Deactivation</h4>
							</div>
							<div class="col-md-8">
								<h5>What happens when you deactivate your account?</h5>
								<ul>
									<li>Your profile & service won't be shown on the site anymore.</li>
									<li>Messages will be cancelled.</li>
									<li>You won't be reactivate your service. Until you contact our Support Team.</li>
								</ul>
							</div>
						</div>
						<div class="save_button">
							<button type="submit" class="btn disabled">Deactivate Account</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>