<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatble" content="ie=edge"/>
        <title>Dashboard | Services</title>
		<link href="../images/favicon.png" rel="icon" />
		<link href="../images/favicon.ico" rel="shortcut icon" />
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<link href="../fonts/fonts.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../css/style.css" rel="stylesheet" type="text/css"/>
		<link href="../css/night-mode.css" rel="stylesheet" type="text/css"/>
        <link href="../css/responsive.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="main_header dashboard_header">
            <nav class="navbar navbar-expand-sm navbar-dark topbar bs_dash_topbar">
                <form class="form-inline mr-auto">
                    <select class="form-control form-control-sm">
                        <option>English</option>
                        <option>Spanish</option>
                    </select>
                </form>
                <ul class="navbar-nav flex-row">
						<!-- Messages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
								<span class="dash_nav_icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
								<span class="dash_nav_text">Messages</span>
							</a>
                            <div class="dropdown-menu messages_dropdown">
								<div class="header">
									<i class="fa fa-comment-o" aria-hidden="true"></i> Inbox
								</div>
								
								<ul class="scrolling_item">
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 title">
													<h5>Username</h5>
													<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
													<div class="time">
														<h6 class="">53m</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 title">
													<h5>Username</h5>
													<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
													<div class="time">
														<h6 class="">53m</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 title">
													<h5>Username</h5>
													<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
													<div class="time">
														<h6 class="">53m</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 title">
													<h5>Username</h5>
													<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
													<div class="time">
														<h6 class="">53m</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 title">
													<h5>Username</h5>
													<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
													<div class="time">
														<h6 class="">53m</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 title">
													<h5>Username</h5>
													<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
													<div class="time">
														<h6 class="">53m</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 title">
													<h5>Username</h5>
													<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
													<div class="time">
														<h6 class="">53m</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 title">
													<h5>Username</h5>
													<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
													<div class="time">
														<h6 class="">53m</h6>
													</div>
												</div>
											</div>
										</a>
									</li>									
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 title">
													<h5>Username</h5>
													<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
													<div class="time">
														<h6 class="">53m</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 title">
													<h5>Username</h5>
													<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
													<div class="time">
														<h6 class="">53m</h6>
													</div>
												</div>
											</div>
										</a>
									</li>									
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 title">
													<h5>Username</h5>
													<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
													<div class="time">
														<h6 class="">53m</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 title">
													<h5>Username</h5>
													<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
													<div class="time">
														<h6 class="">53m</h6>
													</div>
												</div>
											</div>
										</a>
									</li>									
								</ul>														
								<div class="tabsss_footer">
									<div class="row">
										<div class="col-6">
											<ul class="icon">
												<li><a href="javascript:void(0)"><i class="fa fa-volume-up" aria-hidden="true"></i></a></li>
												<li><a href="javascript:void(0)"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
											</ul>
										</div>
										<div class="col-6 see_all">
											<a href="../business-owners-details/inbox.html">See All In Inbox</a>
										</div>
									</div>
								</div>								
                            </div> 
                        </li>
						<!-- Messages -->
						
						<!-- Notifications -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
								<span class="dash_nav_icon"><i class="fa fa-bell" aria-hidden="true"></i></span>
								<span class="dash_nav_text">Notifications</span>
							</a>
                            <div class="dropdown-menu notification_down messages_dropdown">								
								<div class="header">
									<div class="row">
										<div class="col-5">
											<h5>Notifications</h5>
										</div>
										<div class="col-7">
											<ul>
												<li><a href="javascript:void(0)">Mark All as Read</a></li>
												<li><a href="javascript:void(0)">Setting</a></li>
											</ul>
										</div>
									</div>
								</div>
								
								<ul class="scrolling_item">
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 not_title related_photo">
													<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
													<div class="time">
														<h6 class="hit">2h</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 not_title">
													<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
													<div class="time">
														<h6 class="">2h</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 not_title">
													<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
													<div class="time">
														<h6 class="emoji">2h</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 not_title related_photo">
													<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
													<div class="time">
														<h6 class="hit">2h</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 not_title">
													<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
													<div class="time">
														<h6 class="others">2h</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 not_title related_photo">
													<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
													<div class="time">
														<h6 class="hit">2h</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 not_title">
													<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
													<div class="time">
														<h6 class="">2h</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 not_title">
													<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
													<div class="time">
														<h6 class="emoji">2h</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 not_title related_photo">
													<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
													<div class="time">
														<h6 class="hit">2h</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<div class="row">
												<div class="col-2 user_pic">
													<img src="../images/man.png" class="img-fluid" alt="" />
												</div>
												<div class="col-10 not_title">
													<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
													<div class="time">
														<h6 class="others">2h</h6>
													</div>
												</div>
											</div>
										</a>
									</li>
								</ul>														
								<div class="notification_down_footer">
									<div class="text-cen see_all">
										<a href="../business-owners-details/notifications.html" target="_self">See All Notifications</a>
									</div>
								</div>							
                            </div> 
                        </li>
						<!-- Notifications -->
					<li class="night_mode_image mr-0 mx-4"><a href="javascript:void(0)" class="night_mode_icon"></a></li>
                    <li class="nav-item my_account">
                        <a class="nav-link" id="myAcActionLink" href="javascript:void(0)">
                            <span class="dash_nav_icon dash_nav_image"><img src="../images/man.png" alt="" class="img-fluid mr-1"/></span>
                            <span class="dash_nav_text">My Account</span>
                        </a>
                    </li>
                </ul>
            </nav>
			
			
            <nav class="navbar navbar-expand-lg dashboard_nav navbar-light middlebar">
                <a class="navbar-brand" href="../business-owners-details/dashboard-cp-home.html">
                    <img src="../images/gabazzo_logo_black.png" class="img-fluid gabazzo_logo black_logo" alt="" />
                    <img src="../images/gabazzo_logo_white.png" class="img-fluid gabazzo_logo white_logo" alt="" />
                </a>
				
				<div class="members_menu_bar">
					<ul class="navbar-nav mx-auto mr-sm-0 align-items-center text-center flex-row">
						<li>
							<button class="navbar-togglerr" type="button" data-toggle="collapse" data-target="#navb">
								<div class="animated-icon2"><span></span><span></span><span></span></div>
							</button>
						</li>
					</ul>
				</div>

                <div class="collapse nav_item_wrap navbar-collapse" id="navb">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="dashboard-cp-home.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="dashboard-cp-about.html">About</a></li>
						<li class="nav-item"><a class="nav-link" href="dashboard-cp-reviewss.html">Reviews</a></li>
                        <li class="nav-item"><a class="nav-link" href="dashboard-cp-media.html">Media</a></li>
                        <li class="nav-item"><a class="nav-link" href="dashboard-cp-employees.html">Employees</a></li>
                        <li class="nav-item"><a class="nav-link" href="dashboard-cp-portfolio.html">Portfolio</a></li>
                        <li class="nav-item active"><a class="nav-link" href="javascript:void(0)">Services</a></li>
						<li class="nav-item"><a class="nav-link" href="dashboard-cp-products.html">Products</a></li>
                        <li class="nav-item"><a class="nav-link" href="dashboard-cp-faqs.html">FAQ's</a></li>
                    </ul>
                </div>
            </nav>
        </header>		
		
		<!-- My Account SideMenu For Desktop -->
		<div class="" id="myAcContents">
			<div id="dismissMyAcActionLink">
				<i class="fa fa-times" aria-hidden="true"></i>
			</div>
			<div class="my_account_menu">
                <div class="top_part">
                    <img src="../images/man.png" class="profile-photo" alt="">
                    <div class="profile_name">Business Owner's Profile</div>
                </div>
				<div class="bottom_part">
					<ul>
						<li><a href="../business-owners-details/dashboard-cp-home.html"><i class="fa fa-tachometer" aria-hidden="true"></i><span>View Dashboard</span></a></li>
						<li><a href="../business-owners-details/ps-account.html"><i class="fa fa-fw fa-cog"></i><span>Settings</span></a></li>
						<li><a href="../footer-pages/help-center-seller.html"><i class="fa fa-fw fa-comments"></i><span>Seller Help Center</span></a></li>
						<li><a href="../index.html" target="_self"><i class="fa fa-fw fa-power-off"></i><span>Logout</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- My Account SideMenu For Desktop -->

		
		<section class="dashboard_banner">
			<div class="overlay">
				<div class="container">
					<h1>Dashboard <b>/</b> <span>Services</span></h1>
				</div>
			</div>
		</section>

		
		<section class="dashboard_middle">
			<div class="container_gbz">
				<div class="dash_services_products dashboard_wrap">
					<div class="">
						<div class="single_part">
							<h3>Post New Services & Manage Your Services</h3>
							<div class="inner_part">
								<div class="row">
									<div class="col-lg-3 col-md-6">
										<div class="dash_single_sp add_new_sp">
											<div class="text-center">
												<a class="" href="#createNewService" data-toggle="modal">
													<i class="fa fa-plus" aria-hidden="true"></i>
													<div class=""><span>Create a New Service</span></div>
												</a>
											</div>
										</div>
									</div>
									
									<div class="col-lg-3 col-md-6">
										<div class="dash_single_sp">
											<div class="action_button">
												<ul>
													<li><a href="#editServices" data-toggle="modal"><i title="Edit" data-toggle="tooltip" class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
													<li><a href="javascript:void(0)"><i title="Delete" data-toggle="tooltip" class="fa fa-trash-o" aria-hidden="true"></i></a></li>
												</ul>
											</div>
											<div class="single_sp_wrapper">
												<div class="sp_image">
													<img src="../images/gallery_image2.jpg" class="img-fluid" alt="" />
												</div>
												<div class="sp_title">
													<h5>Service Title</h5>
												</div>
												<div class="sp_footer">
													<div class="row">
														<div class="col-6">
															<h5 class="ratings">
																<span class="star"><i class="fa fa-star" aria-hidden="true"></i> 5.0</span>
																<span class="amount">(88)</span>
															</h5>
														</div>
														<div class="col-6 text-right">
															<h4>$130</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-lg-3 col-md-6">
										<div class="dash_single_sp">
											<div class="action_button">
												<ul>
													<li><a href="#editServices" data-toggle="modal"><i title="Edit" data-toggle="tooltip" class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
													<li><a href="javascript:void(0)"><i title="Delete" data-toggle="tooltip" class="fa fa-trash-o" aria-hidden="true"></i></a></li>
												</ul>
											</div>
											<div class="single_sp_wrapper">
												<div class="sp_image">
													<img src="../images/gallery_image1.jpg" class="img-fluid" alt="" />
												</div>
												<div class="sp_title">
													<h5>Service Title</h5>
												</div>
												<div class="sp_footer">
													<div class="row">
														<div class="col-6">
															<h5 class="ratings">
																<span class="star"><i class="fa fa-star" aria-hidden="true"></i> 5.0</span>
																<span class="amount">(8)</span>
															</h5>
														</div>
														<div class="col-6 text-right">
															<h4>$190</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-lg-3 col-md-6">
										<div class="dash_single_sp">
											<div class="action_button">
												<ul>
													<li><a href="#editServices" data-toggle="modal"><i title="Edit" data-toggle="tooltip" class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
													<li><a href="javascript:void(0)"><i title="Delete" data-toggle="tooltip" class="fa fa-trash-o" aria-hidden="true"></i></a></li>
												</ul>
											</div>
											<div class="single_sp_wrapper">
												<div class="sp_image">
													<img src="../images/gallery_image3.jpg" class="img-fluid" alt="" />
												</div>
												<div class="sp_title">
													<h5>Service Title</h5>
												</div>
												<div class="sp_footer">
													<div class="row">
														<div class="col-6">
															<h5 class="ratings">
																<span class="star"><i class="fa fa-star" aria-hidden="true"></i> 5.0</span>
																<span class="amount">(42)</span>
															</h5>
														</div>
														<div class="col-6 text-right">
															<h4>$500</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-lg-3 col-md-6">
										<div class="dash_single_sp">
											<div class="action_button">
												<ul>
													<li><a href="#editServices" data-toggle="modal"><i title="Edit" data-toggle="tooltip" class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
													<li><a href="javascript:void(0)"><i title="Delete" data-toggle="tooltip" class="fa fa-trash-o" aria-hidden="true"></i></a></li>
												</ul>
											</div>
											<div class="single_sp_wrapper">
												<div class="sp_image">
													<img src="../images/gallery_image4.jpg" class="img-fluid" alt="" />
												</div>
												<div class="sp_title">
													<h5>Service Title</h5>
												</div>
												<div class="sp_footer">
													<div class="row">
														<div class="col-6">
															<h5 class="ratings">
																<span class="star"><i class="fa fa-star" aria-hidden="true"></i> 5.0</span>
																<span class="amount">(96)</span>
															</h5>
														</div>
														<div class="col-6 text-right">
															<h4>$170</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-lg-3 col-md-6">
										<div class="dash_single_sp">
											<div class="action_button">
												<ul>
													<li><a href="#editServices" data-toggle="modal"><i title="Edit" data-toggle="tooltip" class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
													<li><a href="javascript:void(0)"><i title="Delete" data-toggle="tooltip" class="fa fa-trash-o" aria-hidden="true"></i></a></li>
												</ul>
											</div>
											<div class="single_sp_wrapper">
												<div class="sp_image">
													<img src="../images/gallery_image5.jpg" class="img-fluid" alt="" />
												</div>
												<div class="sp_title">
													<h5>Service Title</h5>
												</div>
												<div class="sp_footer">
													<div class="row">
														<div class="col-6">
															<h5 class="ratings">
																<span class="star"><i class="fa fa-star" aria-hidden="true"></i> 5.0</span>
																<span class="amount">(77)</span>
															</h5>
														</div>
														<div class="col-6 text-right">
															<h4>$240</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-lg-3 col-md-6">
										<div class="dash_single_sp">
											<div class="action_button">
												<ul>
													<li><a href="#editServices" data-toggle="modal"><i title="Edit" data-toggle="tooltip" class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
													<li><a href="javascript:void(0)"><i title="Delete" data-toggle="tooltip" class="fa fa-trash-o" aria-hidden="true"></i></a></li>
												</ul>
											</div>
											<div class="single_sp_wrapper">
												<div class="sp_image">
													<img src="../images/gallery_image6.jpg" class="img-fluid" alt="" />
												</div>
												<div class="sp_title">
													<h5>Service Title</h5>
												</div>
												<div class="sp_footer">
													<div class="row">
														<div class="col-6">
															<h5 class="ratings">
																<span class="star"><i class="fa fa-star" aria-hidden="true"></i> 5.0</span>
																<span class="amount">(189)</span>
															</h5>
														</div>
														<div class="col-6 text-right">
															<h4>$160</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-lg-3 col-md-6">
										<div class="dash_single_sp">
											<div class="action_button">
												<ul>
													<li><a href="#editServices" data-toggle="modal"><i title="Edit" data-toggle="tooltip" class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
													<li><a href="javascript:void(0)"><i title="Delete" data-toggle="tooltip" class="fa fa-trash-o" aria-hidden="true"></i></a></li>
												</ul>
											</div>
											<div class="single_sp_wrapper">
												<div class="sp_image">
													<img src="../images/gallery_image7.jpg" class="img-fluid" alt="" />
												</div>
												<div class="sp_title">
													<h5>Service Title</h5>
												</div>
												<div class="sp_footer">
													<div class="row">
														<div class="col-6">
															<h5 class="ratings">
																<span class="star"><i class="fa fa-star" aria-hidden="true"></i> 5.0</span>
																<span class="amount">(4)</span>
															</h5>
														</div>
														<div class="col-6 text-right">
															<h4>$120</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		
		<!-- Create New Services Modal Starts From Here -->
		<div class="modal dash_sp_modal dashboard_wrap fade" id="createNewService">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Create New Services</h3>
						<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
					</div>
					<div class="modal-body">
						<form action="">
							<div class="form">
								<div class="form-row">
									<div class="form-group col-md-12">
										<input type="text" placeholder="Enter a Service Title" class="form-control" />
									</div>
								</div>
							
								<div class="single_upload">
									<div class="upload_header">
										<h5>Upload Service Related Photos/Videos <small>(Max: 10 Items)</small></h5>
									</div>
									<div class="upload_area">
										<div class="form-group mb-2">
											<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
											<label for="file-1">
												<div class="upload_fils">
													<div class="icon">
														<i class="fa fa-cloud-upload" aria-hidden="true"></i>
													</div>
													<h5>Drag & Drop a Photos Here <br /> or <br /> Click to Upload</h5>
												</div>
											</label>
										</div>
									</div>
								</div>
								<div class="uploaded_sp_photo">
									<div class="single_uploaded_port">
										<img src="../images/gallery_image2.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image1.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image3.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image4.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image5.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image6.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image7.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image8.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image9.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								
								<div class="form-row">
									<div class="form-group col-md-6">
										<select name="" id="" class="form-control">
											<option value="">--Select Service--</option>
											<option value="">Outdoor Work</option>
											<option value="">Indoor Work</option>
											<option value="">Vehicle Services</option>
											<option value="">Other Services</option>
										</select>
									</div>
									<div class="form-group col-md-6">
										<select name="" id="" class="form-control">
											<option value="">--Select Service Category--</option>
											<option value="">Fencing Services</option>
											<option value="">Roofing Services</option>
											<option value="">Landscaping Services</option>
											<option value="">Paving Services</option>
											<option value="">Junk Removal</option>
											<option value="">Plumbing Services</option>
											<option value="">Pest Control</option>
										</select>
									</div>
								</div>
								
								<div class="form-group">
									<textarea name="" value="" placeholder="Write a Description..." id="" cols="30" rows="7" class="form-control"></textarea>
									<div class="form-text text-right">
										<span>0/1200</span>
									</div>
								</div>
								
								<hr class="my-4" />
								
								<div class="boxes_wrapper">
									<div class="row">
										<div class="col-md-6">
											<div class="single_box">
												<h4>Set Price Range & Delivery</h4>
												<div class="box_inner">
													<div class="price_ranges">
														<label for="">Price Range:</label>
														<div class="form-row">
															<div class="form-group col-md-6">
																<small>From:</small>
																<div class="dollar_input">
																	<input type="number" value="" class="form-control" />
																	<i class="fa fa-usd" aria-hidden="true"></i>
																</div>
															</div>
															<div class="form-group col-md-6">
																<small>To:</small>
																<div class="dollar_input">
																	<input type="number" value="" class="form-control" />
																	<i class="fa fa-usd" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label for="">Estimated Time:</label>
														<select name="" class="form-control" id="">
															<option value="">1 Day</option>
															<option value="">2 Day</option>
															<option value="">3 Day</option>
															<option value="">4 Day</option>
															<option value="">5 Day</option>
															<option value="">6 Day</option>
															<option value="">7 Day</option>
															<option value="">8 Day</option>
															<option value="">9 Day</option>
															<option value="">10 Day</option>
															<option value="">11 Day</option>
															<option value="">12 Day</option>
															<option value="">13 Day</option>
															<option value="">14 Day</option>
															<option value="">15 Day</option>
														</select>
													</div>
													<div class="form-group mb-0">
														<label for="">More Info</label>
														<input type="text" class="form-control" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="single_box">
												<h4>Team Requirements</h4>
												<div class="box_inner">
													<div class="form-group">
														<label for="">Number of Team Members:</label>
														<input type="number" class="form-control" />
													</div>
													<div class="form-group mb-0">
														<label for="">More Info</label>
														<input type="text" class="form-control" />
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-md-6">
											<div class="single_box">
												<h4>Product Used</h4>
												<div class="box_inner">
													<form action="">
														<div class="form">
															<div class="form-row">
																<div class="form-group col-9">
																	<input type="text" placeholder="Type Product and Click Add" class="form-control" />
																</div>
																<div class="form-group col-3">
																	<button type="submit" class="btn btn-gbz-success">ADD</button>
																</div>
															</div>
														</div>
													</form>
													<div class="added_items">
														<span>Lorem <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Sed Ut <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Ipsum <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Lorem <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="single_box">
												<h4>Tags</h4>
												<div class="box_inner">
													<form action="">
														<div class="form">
															<div class="form-row">
																<div class="form-group col-9">
																	<input type="text" placeholder="Type Tags and Click Add" class="form-control" />
																</div>
																<div class="form-group col-3">
																	<button type="submit" class="btn btn-gbz-success">ADD</button>
																</div>
															</div>
														</div>
													</form>
													<div class="added_items">
														<span>Lorem <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Sed Ut <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Ipsum <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Lorem <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="save_button text-right">
									<button type="submit" class="btn btn-gbz-success">Save</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Create New Services Modal Ends Here -->
		
		
		
		<!-- Edit Services Modal Starts From Here -->
		<div class="modal dash_sp_modal dashboard_wrap fade" id="editServices">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Edit Your Service</h3>
						<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
					</div>
					<div class="modal-body">
						<form action="">
							<div class="form">
								<div class="form-row">
									<div class="form-group col-md-12">
										<input type="text" placeholder="" value="Service Name" class="form-control" />
									</div>
								</div>
								<div class="single_upload">
									<div class="upload_header">
										<h5>Upload Service Related Photos/Videos <small>(Max: 10 Items)</small></h5>
									</div>
									<div class="upload_area">
										<div class="form-group mb-2">
											<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
											<label for="file-1">
												<div class="upload_fils">
													<div class="icon">
														<i class="fa fa-cloud-upload" aria-hidden="true"></i>
													</div>
													<h5>Drag & Drop a Photos Here <br /> or <br /> Click to Upload</h5>
												</div>
											</label>
										</div>
									</div>
								</div>
								<div class="uploaded_sp_photo">
									<div class="single_uploaded_port">
										<img src="../images/gallery_image2.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image1.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image3.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image4.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image5.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image6.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image7.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image8.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="single_uploaded_port">
										<img src="../images/gallery_image9.jpg" class="img-fluid" alt="" />
										<div class="overlay">
											
										</div>
										<div class="action_button">
											<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<select name="" id="" class="form-control">
											<option value="">Outdoor Work</option>
											<option value="">Indoor Work</option>
											<option value="">Vehicle Services</option>
											<option value="">Other Services</option>
										</select>
									</div>
									<div class="form-group col-md-6">
										<select name="" id="" class="form-control">
											<option value="">General Siding</option>
											<option value="">Fencing Services</option>
											<option value="">Roofing Services</option>
											<option value="">Landscaping Services</option>
											<option value="">Paving Services</option>
											<option value="">Junk Removal</option>
											<option value="">Garage Services</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<textarea name="" value="" placeholder="Write a Description..." id="" cols="30" rows="7" class="form-control">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</textarea>
									<div class="form-text text-right">
										<span>0/1200</span>
									</div>
								</div>
								
								<hr class="my-4" />
								
								<div class="boxes_wrapper">
									<div class="row">
										<div class="col-md-6">
											<div class="single_box">
												<h4>Set Price Range & Delivery</h4>
												<div class="box_inner">
													<div class="price_ranges">
														<label for="">Price Range:</label>
														<div class="form-row">
															<div class="form-group col-md-6">
																<small>From:</small>
																<div class="dollar_input">
																	<input type="number" value="50" class="form-control" />
																	<i class="fa fa-usd" aria-hidden="true"></i>
																</div>
															</div>
															<div class="form-group col-md-6">
																<small>To:</small>
																<div class="dollar_input">
																	<input type="number" value="5000" class="form-control" />
																	<i class="fa fa-usd" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label for="">Estimated Time:</label>
														<select name="" class="form-control" id="">
															<option value="">1 Day</option>
															<option value="">2 Day</option>
															<option value="">3 Day</option>
															<option value="">4 Day</option>
															<option value="">5 Day</option>
															<option value="">6 Day</option>
															<option value="">7 Day</option>
															<option value="">8 Day</option>
															<option value="">9 Day</option>
															<option value="">10 Day</option>
															<option value="">11 Day</option>
															<option value="">12 Day</option>
															<option value="">13 Day</option>
															<option value="">14 Day</option>
															<option value="">15 Day</option>
														</select>
													</div>
													<div class="form-group mb-0">
														<label for="">More Info</label>
														<input type="text" value="Consectetur adipiscing elit sed do eiusmod." class="form-control" />
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="single_box">
												<h4>Team Requirements</h4>
												<div class="box_inner">
													<div class="form-group">
														<label for="">Number of Team Members:</label>
														<input type="number" value="5" class="form-control" />
													</div>
													<div class="form-group mb-0">
														<label for="">More Info</label>
														<input type="text" value="Consectetur adipiscing elit sed do eiusmod." class="form-control" />
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-md-6">
											<div class="single_box">
												<h4>Product Used</h4>
												<div class="box_inner">
													<form action="">
														<div class="form">
															<div class="form-row">
																<div class="form-group col-9">
																	<input type="text" placeholder="Type Product and Click Add" class="form-control" />
																</div>
																<div class="form-group col-3">
																	<button type="submit" class="btn btn-gbz-success">ADD</button>
																</div>
															</div>
														</div>
													</form>
													<div class="added_items">
														<span>Lorem <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Sed Ut <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Ipsum <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Lorem <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-md-6">
											<div class="single_box">
												<h4>Tags</h4>
												<div class="box_inner">
													<form action="">
														<div class="form">
															<div class="form-row">
																<div class="form-group col-9">
																	<input type="text" placeholder="Type Tags and Click Add" class="form-control" />
																</div>
																<div class="form-group col-3">
																	<button type="submit" class="btn btn-gbz-success">ADD</button>
																</div>
															</div>
														</div>
													</form>
													<div class="added_items">
														<span>Lorem <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Sed Ut <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Ipsum <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Dolor <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
														<span>Lorem <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="save_button text-right">
									<button type="submit" class="btn btn-gbz-success">Save</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Edit Services Modal Ends Here -->
		

		
		<section class="update_now_button_section">
			<div class="container_gbz">
				<div class="row">
					<div class="col-md-7">
						<p><span>*</span> Click <b>Save Changes</b> to update latest added detail (s).</p>
					</div>
					<div class="col-md-5">
						<div class="save_change_button">
							<button type="button" class="btn btn-gbz-success">Save Changes</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		
        <footer class="main_footer business_owner_dashboard_footer">
            <div class="container">
                <p class="mb-0">Copyright:&copy; 2019 Gabazzo. All Rights Reserved. Patent Pending</p>
            </div>
        </footer>
		
		

        <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
        <script src="js/classie.js" type="text/javascript"></script>
        <script src="js/custom.js" type="text/javascript"></script>      
		<script type="text/javascript">
			  $(window).on("scroll", function() {
					if($(window).scrollTop() > 400) {
						  $('.update_now_button_section').addClass('active');
					}

					else {
						  $('.update_now_button_section').removeClass('active');
					}
			  })
		</script>
		
    </body>
</html>
