<% layout('layouts/settingsBoilerplate') -%>


<div class="profile_setting_wrap">
	<div class="container-fluid">
		<div class="row">
			<!-- Left Menu Starts From Here -->
			<div class="col-md-3">
				<nav class="navbar navbar-expand-lg">
					<div class="ps_left_menu border collapse navbar-collapse h-100" id="responsive-bar">
						<ul class="list-group list-group-flush list-group-sidemenu">
							<li class="list-group-item"><a href="/company-settings/account">Account</a></li>
							<li class="list-group-item"><a href="/company-settings/security">Security</a></li>
							<li class="list-group-item"><a href="/company-settings/notifications">Emails &
									Notifications</a></li>
							<li class="list-group-item"><a href="/company-settings/billing">Billing</a></li>
							<li class="list-group-item"><a href="/company-settings/payment">Payment & Financial</a></li>
							<li class="list-group-item active"><a href="javascript:void(0)">Trust &
									Verification</a>
							</li>
							<li class="list-group-item"><a href="/company-settings/company-info">Company Info Box</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<!-- Left Menu Ends Here -->

			<div class="col-md-9 profile_setting">
				<div class="profile_setting_wrapper notifications">
					<div class="profile_header">
						<h1>Trust And Verification</h1>
					</div>
					<div class="single_notify">
						<h4>What is Gabazzo's "Trust Score" System?</h4>
						<p>Gabazzo Trust Score system is the core of how we handle Trust and Verification within using
							our platform to promote your company online. The Trust Score is the value that helps us
							indicate to make sure the user is who they say they are. Companies who are the safest to
							work with usually have an excellent score of 10 points and become highly Trusted users
							within the Gabazzo Platform.</p>
					</div>

					<div class="single_notify">
						<div class="score_bar">
							<ul>
								<li class="completed"><span class="score">0</span><span class="status">Poor</span></li>
								<li class="completed"><span class="score">5</span><span class="status">Good</span></li>
								<li class="current excellent"><span class="score">10</span><span
										class="status">Excellent</span></li>
							</ul>
						</div>
						<div class="bottom_text mt-3">
							<h5>Current Trust Score: <span>10</span></h5>
							<h5>Strength: <span>Excellent</span></h5>
						</div>
					</div>

					<div class="single_notify pb-0">
						<ul>
							<li>Email Address <span class="gain">5 Points</span></li>
							<li class="facebook">Facebook<span class="gain">5 Points</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>